{% extends 'base.html.twig' %}

{% block content %}
    <div class="page-glossary">
        <ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
            <li class="breadcrumb__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                <a itemprop="item" href="{{ path('homepage') }}">
                    <span itemprop="name">Accueil</span>
                </a>
                <meta itemprop="position" content="1" />
            </li>
            <li class="breadcrumb__item"  itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                <a itemprop="item" href="#">
                    <span itemprop="name">Glossaire</span>
                </a>
                <meta itemprop="position" content="2" />
            </li>
        </ol>

        <div class="banner-glossary">
            <div class="banner-glossary__content">
                <h1>
                    Glossaire
                    <span>des projets web</span>
                </h1>
                <p>Notre quotidien est fait de termes qui le rendent parfois un peu inaccessible. Si c’est un peu comme notre deuxième langue (et encore, il n’est pas impossible qu’on n’arrive pas toujours à se comprendre 🙈), ce n’est pas nécessairement le cas de nos clients.</p>
            </div>
            <img src="{{ asset('build/images/pages/glossary/glossary-banner.svg') }}" class="banner-glossary__image" alt="">
        </div>
        <!-- Todo : remove placeholder inline-style ⬆ -->

        <div class="glossary">
            {% for column in glossary %}
                <ul class="glossary-list">
                    {% for letter, group in column %}
                        {% for term in group %}
                            <li class="glossary-list__item {{ loop.first ? 'glossary-list__item--' ~ letter : '' }}">
                                {% if term.show %}
                                    <a href="{{ path('glossary_term', { term: term.slug })}}">
                                        {{ term.name }}
                                    </a>
                                {% else %}
                                    {{ term.name }}
                                {% endif %}
                            </li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>

        <div class="need-accompaniement">
            Besoin d'accompagnement pour vos projets web ?
            <a href="{{ path('contact') }}" class="btn btn--secondary btn--animated">
                <span>
                    Nous contacter
                    {% include 'partials/svg-arrow.html.twig' %}
                </span>
            </a>
        </div>

        <h2 class="h2--dash">Pour aller encore plus loin dans le quotidien d'un projet web, découvrez notre blog</h2>

        <ul class="article-list">
            <li class="miniature aos-init aos-animate fade-in" data-aos="fade-in" data-aos-delay="150">
                <a href="#" class="miniature__image">
                    <span class="image" style="background: #f1f1f1 url();
                                               background: #f1f1f1 -webkit-image-set();
                                               background: #f1f1f1 -moz-image-set();
                                               background: #f1f1f1 -ms-image-set();
                                               background: #f1f1f1 image-set();">
                    </span>
                </a>
                <div class="miniature__content">
                    <a href="#" class="title">Article</a>
                    <p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque, unde magni voluptatem perferendis excepturi, distinctio labore.</p>
                </div>
            </li>
            <li class="miniature aos-init aos-animate fade-in" data-aos="fade-in" data-aos-delay="150">
                <a href="#" class="miniature__image">
                    <span class="image" style="background: #f1f1f1 url();
                                               background: #f1f1f1 -webkit-image-set();
                                               background: #f1f1f1 -moz-image-set();
                                               background: #f1f1f1 -ms-image-set();
                                               background: #f1f1f1 image-set();">
                    </span>
                </a>
                <div class="miniature__content">
                    <a href="#" class="title">Article</a>
                    <p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque, unde magni voluptatem perferendis excepturi, distinctio labore.</p>
                </div>
            </li>
            <li class="miniature aos-init aos-animate fade-in" data-aos="fade-in" data-aos-delay="150">
                <a href="#" class="miniature__image">
                    <span class="image" style="background: #f1f1f1 url();
                                               background: #f1f1f1 -webkit-image-set();
                                               background: #f1f1f1 -moz-image-set();
                                               background: #f1f1f1 -ms-image-set();
                                               background: #f1f1f1 image-set();">
                    </span>
                </a>
                <div class="miniature__content">
                    <a href="#" class="title">Article</a>
                    <p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque, unde magni voluptatem perferendis excepturi, distinctio labore.</p>
                </div>
            </li>
            <li class="miniature aos-init aos-animate fade-in" data-aos="fade-in" data-aos-delay="150">
                <a href="#" class="miniature__image">
                    <span class="image" style="background: #f1f1f1 url();
                                               background: #f1f1f1 -webkit-image-set();
                                               background: #f1f1f1 -moz-image-set();
                                               background: #f1f1f1 -ms-image-set();
                                               background: #f1f1f1 image-set();">
                    </span>
                </a>
                <div class="miniature__content">
                    <a href="#" class="title">Article</a>
                    <p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque, unde magni voluptatem perferendis excepturi, distinctio labore.</p>
                </div>
            </li>
        </ul>

        <a href="{{ path('blog') }}" class="btn btn--secondary btn--animated">
            <span>
                Tous les articles
                {% include 'partials/svg-arrow.html.twig' %}
            </span>
        </a>
    </div>
{% endblock %}
