{% import "macros.html.twig" as macros %}
{% extends 'base.html.twig' %}

{% block meta_title "L'équipe d'Elao" %}
{% block meta_description "Toute l'équipe d'Elao" %}

{% block content %}
    <div class="container">
        {{ macros.breadcrumb([
            {path: path('homepage'), label: 'Accueil'},
            {path: '#', label: "L'équipe"},
        ]) }}
        <div class="page-team">
            <div class="banner-team">
                <div class="banner-team__title" data-aos="fade-right">
                    <h1>Ce qui fait notre force : <span>notre magic team</span></h1>
                </div>
                <div class="banner-team__content">
                    <img {{ macros.imageSrcset('content/images/members/team-banner.png', 'team_banner') }} alt="" data-aos="fade-in">
                </div>
            </div>

            <div class="container--narrow">
                <h2 class="h2--dash">Nos valeurs</h2>
                <div class="values">
                    {% with { duration: 600, delayGap: 200, delay: 0 } %}
                        <span class="values__item values__item--info"
                            data-aos="fade-up"
                            data-aos-duration="{{ duration }}"
                            data-aos-delay="{{ delay }}"
                        >
                            <i class="icon icon--quote" aria-hidden="true"></i>
                            L'humain avant tout
                        </span>
                        {% set delay = delay + delayGap %}
                        <span class="values__item values__item--tertiary"
                            data-aos="fade-up"
                            data-aos-duration="{{ duration }}"
                            data-aos-delay="{{ delay }}"
                        >
                            <i class="icon icon--quote" aria-hidden="true"></i>
                            Rester humble et apprendre de ses erreurs
                        </span>
                        {% set delay = delay + delayGap %}
                        <span class="values__item values__item--primary"
                            data-aos="fade-up"
                            data-aos-duration="{{ duration }}"
                            data-aos-delay="{{ delay }}"
                        >
                            <i class="icon icon--quote" aria-hidden="true"></i>
                            S'ouvrir, partager, ne rien garder pour soi
                        </span>
                    {% endwith %}
                    <a href="{{ path('values') }}" class="btn btn--secondary btn--animated" data-aos="fade-left">
                        <span>
                            Découvrir nos valeurs
                            {% include 'partials/svg-arrow.html.twig' %}
                        </span>
                    </a>
                </div>

                <h2 class="h2--dash">L'équipe</h2>
                <div class="container--narrow">
                    <ul class="team">
                        {% for member in members %}
                            <li class="team__member" data-aos="fade-in">
                                <a href="{{ path('team_member', { member: member.slug }) }}">
                                    <span class="image">
                                         <span style=" {{ macros.backgroundImageSrcset(member.teamPicture, 'team_picture.list') }}"></span>
                                    </span>
                                    <span class="name">{{ member.name }}</span>
                                    <span class="job">{{ member.position|nl2br }}</span>
                                    {% for c in member.certifications|filter(c => c in ['symfony', 'opquast'])[0:1] %}
                                        {% set certif = content_get('App\\Model\\Certification', c) %}
                                        <span class="certification">
                                            <img src="{{ asset(certif.logoPath) }}" alt="" />
                                            <p>{{ 'certification_description'|trans({ member_gender: member.gender }) }} {{ certif.title|u.title }}</p>
                                        </span>
                                    {% endfor %}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                    <a href="{{ path('jobs') }}" class="btn btn--secondary btn--animated" data-aos="fade-left">
                        <span>
                            Rejoindre l'équipe
                            {% include 'partials/svg-arrow.html.twig' %}
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
