{% extends 'base.html.twig' %}

{% set noindex = true %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .email_signature * {
            all: revert
        }

        textarea {
            padding: 10px;
            font-size: 12px;
            font-family: monospace;
            background-color: #f4756d;
            color: white;
            border-radius: 10px;
            border: none;
            width: 100%;
        }
    </style>
{% endblock %}

{% block content %}
    <h1 data-aos="fade-right">
        {{ member.name }}
        <span>ta signature</span>
        <span>sur-mesure</span>
    </h1>

    <div style="display: flex; flex-direction: row; flex-wrap: wrap; align-items: center;">
        <div style="flex: 1; padding: 0 20px 20px 0">
            <div class="email_signature" style="width: 400px;margin: auto">
                {{ _self.signatureHtml(member) }}
            </div>
        </div>

        <div style="flex: 1;">
            <h4>Copie ce code HTML pour créer ta signature mail</h4>
            <textarea readonly="readonly" rows="15" onclick="this.focus();this.select()">
                {%- apply spaceless -%}
                    {{- _self.signatureHtml(member) -}}
                {%- endapply -%}
            </textarea>
        </div>
    </div>
{% endblock %}

{% macro signatureHtml(member) %}
<style type="text/css">
    a { color: #fff; <!-- prevents default link color on Outlook --> }
</style>
<table style="margin-top: 20px;
              padding: 20px 100px 10px 0;
              font-family: Courier, sans-serif;
              font-size: 12px;
              background-color: #fff;
              border-top: 1px dashed #ddd;">
    <tbody>
        <tr>
            <td style="padding-right: 10px;
                       vertical-align: top;">
                <img src="{{ absolute_url(asset('images/corpo/logo_red_small.png')) }}"  alt="logo elao"
                     width="50"
                     height="22"
                     style="width: 50px;
                            height: 22px">
            </td>
            <td>
                <strong style="font-family: Courier, sans-serif;
                               font-size: 14px;
                               font-weight: bold;
                               color: #ff4344;
                               line-height: 20px;">
                    {{ member.name|split(' ', 2)[0] }}
                    <span style="color: #7f1a55;">
                        {{ member.name|split(' ', 2)[1] }}
                    </span>
                </strong>
                <div style="font-family: Courier, sans-serif;
                            font-size: 12px;
                            color: #7f1a55;
                            line-height: 20px;">
                    // {{ member.position }}
                </div>
                <div>
                    <a href="mailto:{{ member.email }}"
                       target="_blank"
                       style="font-family: Courier, sans-serif;
                              font-size: 12px;
                              color: #7f1a55 !important;
                              line-height: 20px;
                              text-decoration: none;">
                       // {{ member.email -}}
                   </a>
                </div>
                {%- if member.phone is not empty -%}
                    <div style="font-family: Courier, sans-serif;
                                font-size: 12px;
                                color: #7f1a55;
                                line-height: 20px;">
                        // {{ member.phone }}
                    </div>
                {%- endif -%}
                <div>
                    <a href="{{ url('homepage') }}"
                       target="_blank"
                       style="font-family: Courier, sans-serif;
                              font-size: 12px;
                              color: #ff4344;
                              line-height: 20px;
                              text-decoration: none;">
                       elao.com
                   </a>
                </div>
            </td>
        </tr>
    </tbody>
</table>
{% endmacro %}
