{% extends 'base.html.twig' %}

{% block content %}
    <img src="{{ asset(member.avatar) }}">
    <h2>{{ member.name }}</h2>
    <h4>{{ member.position }}</h4>

    <div class="article-author__social">
      {% if member.twitter %}
        <a href="https://twitter.com/{{ member.twitter }}" class="social">
          <i class="icon icon--twitter" aria-hidden="true"></i>
          <span class="screen-reader">Compte twitter de {{ member.name }}</span>
        </a>
      {% endif %}
      {% if member.github %}
        <a href="https://github.com/{{ member.github }} "class="social">
          <i class="icon icon--github" aria-hidden="true"></i>
          <span class="screen-reader">Compte github de {{ member.name }}</span>
        </a>
      {% endif %}
      {% if member.website %}
        <a href="{{ member.website }}" class="social">
          <i class="icon icon--website" aria-hidden="true"></i>
          <span class="screen-reader">Site personnel de {{ member.name }}</span>
        </a>
      {% endif %}
    </div>

    <h2>Ses derniers articles</h2>
    <div>
        {% for article in articles %}
            <div>
                <img src="{{ asset(article.thumbnail) }}" />
                {{ article.title }}
                <a href="{{ path('blog_article', { article: article.slug }) }}">
                    Lire l'article_
                </a>
            </div>
        {% endfor %}
    <div>
{% endblock %}
