{% import "macros.html.twig" as macros %}
{% extends 'base.html.twig' %}

{% block content %}
    <ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
        <li class="breadcrumb__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <a itemprop="item" href="{{ path('homepage') }}">
                <span itemprop="name">Accueil</span>
            </a>
            <meta itemprop="position" content="1" />
        </li>
        <li class="breadcrumb__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <a itemprop="item" href="{{ path('team') }}">
                <span itemprop="name">La tribu</span>
            </a>
            <meta itemprop="position" content="2" />
        </li>
        <li class="breadcrumb__item"  itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <a itemprop="item" href="#">
                <span itemprop="name">{{ member.pseudo ?? member.name }}</span>
            </a>
            <meta itemprop="position" content="3" />
        </li>
    </ol>

    <div class="member">
        <div class="member__infos">
            <h1>
                Découvrez
                <span>{{ member.name }}</span>
            </h1>
        </div>

        <div class="member__image">
            <!-- image de profil : 500 x 680px -->
            <img src="https://www.fillmurray.com/500/680" alt="Portrait de {{ member.name }}">
            <div class="experience">
                {% set interval = date('now').diff(member.integrationDate) %}
                {% set numberYear = interval.y %}
                {% set numberMonth= interval.m %}
                {{ 'seniority'|trans({ years: numberYear, months: numberMonth})|raw }} dans la tribu
            </div>
        </div>

        <div class="member__profile">
            <p class="job">{{ member.position }}</p>

            <div class="description">
                {{ member.bio|nl2br|markdownify|raw }}
            </div>

            <div class="socials socials--inline">
                <ul>
                    {% if member.website %}
                        <li>
                            <a href="{{ member.website }}">
                                <i class="icon icon--website" aria-hidden="true"></i>
                                <span class="screen-reader">Site personnel de {{ member.name }}</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if member.twitter %}
                        <li>
                            <a href="https://twitter.com/{{ member.twitter }}">
                                <i class="icon icon--twitter" aria-hidden="true"></i>
                                <span class="screen-reader">Compte Twitter de {{ member.name }}</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if member.github %}
                        <li>
                            <a href="https://github.com/{{ member.github }}">
                                <i class="icon icon--github" aria-hidden="true"></i>
                                <span class="screen-reader">Compte Github de {{ member.name }}</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if member.linkedIn %}
                    <li>
                        <a href="https://www.linkedin.com/in/{{ member.linkedIn }}">
                            <i class="icon icon--linkedin" aria-hidden="true"></i>
                            <span class="screen-reader">Compte Linkedin de {{ member.name }}</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>

            <!-- Facultatif -->
            {% if member.certifications is not empty %}
                <div class="certification-list">
                    <ul>
                        {% for c in member.certifications %}
                            {% set certif = content_get('App\\Model\\Certification', c) %}
                            <li class="certification">
                                <img src="{{ asset(certif.logoPath) }}" alt="" />
                                <p>
                                    {{ 'certification_description'|trans({ member_gender: member.gender }) }} <span>{{ certif.title|u.title }}</span>
                                </p>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            {% if member.emojis is not empty %}
                <ul class="interests">
                    {% for emoji in member.emojis %}
                        <li>{{ emoji }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        {% if articles is not empty or projects is not empty%}
            <div class="member__contributions">
                {% if projects is not empty %}
                    <div class="article-list">
                        <h2 class="h2--dash">Ses derniers projets</h2>
                        {% for project in projects %}
                            <div class="miniature-inline miniature-inline--small">
                                <a href="{{ path('case_study', { caseStudy: project.slug }) }}" class="miniature-inline__image">
                                    <span class="image" style="{{ macros.backgroundImageSrcset(project.images|first, 'case_study_thumbnail.xs') }}"></span>
                                </a>
                                <div class="miniature-inline__content">
                                    <a href="{{ path('case_study', { caseStudy: project.slug }) }}" class="title">{{ project.title }}</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

                <!-- Facultatif -->
                {% if articles is not empty %}
                    <div class="article-list">
                        <h2 class="h2--dash">Ses derniers articles</h2>
                        {% for article in articles %}
                            <div class="miniature-inline miniature-inline--small">
                                <a href="{{ path('blog_article', { article: article.slug }) }}" class="miniature-inline__image">
                                    <span class="image" style="{{ macros.backgroundImageSrcset(article.thumbnail, 'article_thumbnail.xs') }}"></span>
                                </a>
                                <div class="miniature-inline__content">
                                    <a href="{{ path('blog_article', { article: article.slug }) }}" class="title">{{ article.title }}</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endif %}

    </div>

    <aside class="bricks">
        {% include 'partials/brick-visit.html.twig' %}
        {% include 'partials/brick-contact.html.twig' %}
    </aside>
{% endblock %}
