{% extends 'base.html.twig' %}
{% block og_image asset('social/Elao-home-og2.jpg')  %}
{% block twitter_image absolute_url(asset('social/elao-ogimage-twitter2.jpg'))  %}

{% block content %}
    <ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
        <li class="breadcrumb__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <a itemprop="item" href="{{ path('homepage') }}">
                <span itemprop="name">Accueil</span>
            </a>
            <meta itemprop="position" content="1" />
        </li>
        <li class="breadcrumb__item"  itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <a itemprop="item" href="#">
                <span itemprop="name">Contact</span>
            </a>
            <meta itemprop="position" content="2" />
        </li>
    </ol>

    <div class="page-contact">
        <h1 data-aos="fade-right">Écrire <span>un petit mot</span></h1>

        <div class="contact" data-aos="flip-right">

{# We changed our mind and won't use a form to prepopulate the email. Previous integration below: #}

{#            <div class="contact__main" data-contact-target="main"></div>#}

{#            <template data-contact-target="form">#}
{#                <form class="contact__message" data-action="submit->contact#submit:capture">#}
{#                    <p class="title">Cher elao,</p>#}
{#                    <div class="form-group">#}
{#                        <div#}
{#                            contenteditable="true"#}
{#                            placeholder="Je vous écris ce message car, …"#}
{#                            data-contact-target="inputContent"#}
{#                            class="form-group__message"#}
{#                        ></div>#}
{#                    </div>#}
{#                    <div class="form-group">#}
{#                        <label for="contact-email" class="form-group__label">Mon email :</label>#}
{#                        <input id="contact-email" type="email" autocomplete="email" class="form-group__input" data-contact-target="inputEmail" />#}
{#                    </div>#}
{#                    <div class="form-group">#}
{#                        <label for="contact-sign" class="form-group__label">Signé :</label>#}
{#                        <input id="contact-sign" autocomplete="name" type="text" class="form-group__input" data-contact-target="inputSign" />#}
{#                    </div>#}
{#                    <button class="btn btn--primary btn--animated btn--large" type="submit">#}
{#                        <span>#}
{#                            Envoyer#}
{#                            {% include 'partials/svg-arrow.html.twig' %}#}
{#                        </span>#}
{#                    </button>#}
{#                </form>#}
{#            </template>#}

{#            <!--#}
{#             À la validation du formulaire, remplacer le <form class="contact__message">#}
{#             par la <div class="contact__message"> ci-dessous 👇#}
{#            -->#}
{#            <template data-contact-target="success">#}
{#                <div class="contact__message">#}
{#                    <p class="title">Cher·ère <span data-contact-target="greeting">Prénom</span>,</p>#}
{#                    <div class="form-group form-group--dark">#}
{#                        <div class="form-group__message">#}
{#                            <p>Merci pour votre message, nous avons hâte de vous lire.</p>#}
{#                            <br>#}
{#                            <p>À bientôt 👋</p>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="form-group form-group--dark">#}
{#                        <label class="form-group__label">Signé :</label>#}
{#                        <span type="text" class="form-group__input">elao</span>#}
{#                    </div>#}
{#                    <button class="btn btn--primary btn--animated" type="button" data-action="click->contact#reset">#}
{#                        <span>#}
{#                            Renvoyer un message#}
{#                            {% include 'partials/svg-arrow.html.twig' %}#}
{#                        </span>#}
{#                    </button>#}
{#                </div>#}
{#            </template>#}

            <div class="contact__message">
                <p class="title">Écrivez-nous !,</p>
                <div class="form-group">
                    <div class="form-group__message">
                        <p>On adore recevoir du courrier <3</p>
                        <p>C'est par là que ça se passe =></p>
                    </div>
                </div>
            </div>

            <div class="contact__infos" itemscope itemtype="https://schema.org/Organization">
                <img src="{{ asset('build/images/pages/contact/stamp.svg') }}" alt="">
                <p class="name" itemprop="name">elao</p>
                <address itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
                    <a href="{{ site.contact.address.google_maps }}" target="_blank">
                        <span itemprop="streetAddress">{{ site.contact.address.street_address }}</span><br/>
                        <span itemprop="addressLocality">{{ site.contact.address.address_locality }}</span>
                    </a>
                </address>
                <address>
                    <a href="tel:+33482533719" itemprop="telephone">{{ site.contact.phone }}</a>
                    <a href="mailto:contact@elao.com" itemprop="email" data-contact-target="email">{{ site.contact.email }}</a>
                </address>
            </div>
        </div>
    </div>
{% endblock %}
