{% extends 'base.html.twig' %}

{% block content %}
    <ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
        <li class="breadcrumb__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <a href="{{ path('homepage') }}" itemprop="item">
                <span itemprop="name">Accueil</span>
            </a>
            <meta itemprop="position" content="1" />
        </li>
        <li class="breadcrumb__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <a itemprop="item" href="#">
                <span itemprop="name">Elaomojis</span>
            </a>
            <meta itemprop="position" content="2" />
        </li>
    </ol>

    <div class="banner">
        <h1 class="banner__title" data-aos="fade-right">
            Sélection officielle
            <span>de nos Elaomojis 🥁🥁🥁</span>
        </h1>
        <div class="banner__highlight" data-aos="zoom-in">
            <p>À l’occasion de la Journée Mondiale des Emojis 2021 (World Emoji Day), nous sommes ravis de vous présenter une sélection de nos :emojis-favoris:</p>
        </div>
    </div>

    <h2>Pour commencer, notre happy team 🥳</h2>
    <ul class="elaomojis">
        <li class="elaomojis__item" class="aria-hidden="true>
            <span class="img" style="background: url('{{ asset('build/images/elaomojis/happy/alyona-happy.gif') }}')"></span>
            :alyona-happy:
        </li>
        <li class="elaomojis__item" class="aria-hidden="true>
            <span class="img" style="background: url('{{ asset('build/images/elaomojis/happy/amelie-happy.gif') }}')"></span>
            :amelie-happy:
        </li>
        <li class="elaomojis__item" class="aria-hidden="true>
            <span class="img" style="background: url('{{ asset('build/images/elaomojis/happy/anne-laure-happy.gif') }}')"></span>
            :anne-laure-happy:
        </li>
        <li class="elaomojis__item" class="aria-hidden="true>
            <span class="img" style="background: url('{{ asset('build/images/elaomojis/happy/arti-happy.gif') }}')"></span>
            :arti-happy:
        </li>
        <li class="elaomojis__item" class="aria-hidden="true>
            <span class="img" style="background: url('{{ asset('build/images/elaomojis/happy/ben-happy.gif') }}')"></span>
            :ben-happy:
        </li>
        <li class="elaomojis__item" class="aria-hidden="true>
            <span class="img" style="background: url('{{ asset('build/images/elaomojis/happy/christelle-happy.gif') }}')"></span>
            :christelle-happy:
        </li>
        <li class="elaomojis__item" class="aria-hidden="true>
            <span class="img" style="background: url('{{ asset('build/images/elaomojis/happy/flo-happy.gif') }}')"></span>
            :flo-happy:
        </li>
        <li class="elaomojis__item" class="aria-hidden="true>
            <span class="img" style="background: url('{{ asset('build/images/elaomojis/happy/guewen-happy.gif') }}')"></span>
            :guewen-happy:
        </li>
        <li class="elaomojis__item" class="aria-hidden="true>
            <span class="img" style="background: url('{{ asset('build/images/elaomojis/happy/lod-happy.gif') }}')"></span>
            :lod-happy:
        </li>
        <li class="elaomojis__item" class="aria-hidden="true>
            <span class="img" style="background: url('{{ asset('build/images/elaomojis/happy/max-happy.gif') }}')"></span>
            :max-happy:
        </li>
        <li class="elaomojis__item" class="aria-hidden="true>
            <span class="img" style="background: url('{{ asset('build/images/elaomojis/happy/ogi-happy.gif') }}')"></span>
            :ogi-happy:
        </li>
        <li class="elaomojis__item" class="aria-hidden="true>
            <span class="img" style="background: url('{{ asset('build/images/elaomojis/happy/tom-happy.gif') }}')"></span>
            :tom-happy:
        </li>
        <li class="elaomojis__item" class="aria-hidden="true>
            <span class="img" style="background: url('{{ asset('build/images/elaomojis/happy/xavg-happy.gif') }}')"></span>
            :xavg-happy:
        </li>
        <li class="elaomojis__item" class="aria-hidden="true>
            <span class="img" style="background: url('{{ asset('build/images/elaomojis/happy/xavr-happy.gif') }}')"></span>
            :xavr-happy:
        </li>
        <li class="elaomojis__item" class="aria-hidden="true>
            <span class="img" style="background: url('{{ asset('build/images/elaomojis/happy/yves-happy.gif') }}')"></span>
            :yves-happy:
        </li>
    </ul>

    <h2>Le must : les perroquets 🦜</h2>
    <ul class="elaomojis">
        <li class="elaomojis__item" class="aria-hidden="true>
            <span class="img" style="background: url('{{ asset('build/images/elaomojis/parrot/fiesta-parrot.gif') }}')"></span>
            :fiesta-parrot:
        </li>
        <li class="elaomojis__item" class="aria-hidden="true>
            <span class="img" style="background: url('{{ asset('build/images/elaomojis/parrot/real-fiesta-parrot.gif') }}')"></span>
            :real-fiesta-parrot:
        </li>
        <li class="elaomojis__item" class="aria-hidden="true>
            <span class="img" style="background: url('{{ asset('build/images/elaomojis/parrot/ultra-fast-parrot.gif') }}')"></span>
            :ultra-fast-parrot:
        </li>
        <li class="elaomojis__item" class="aria-hidden="true>
            <span class="img" style="background: url('{{ asset('build/images/elaomojis/parrot/devil-parrot.gif') }}')"></span>
            :devil-parrot:
        </li>
        <li class="elaomojis__item" class="aria-hidden="true>
            <span class="img" style="background: url('{{ asset('build/images/elaomojis/parrot/fire-parrot.gif') }}')"></span>
            :fire-parrot:
        </li>
    </ul>

    <h2>On adore les canards 🦆</h2>
    <ul class="elaomojis">
        <li class="elaomojis__item" class="aria-hidden="true>
            <span class="img" style="background: url('{{ asset('build/images/elaomojis/ducks/duck.png') }}')"></span>
            :duck:
        </li>
        <li class="elaomojis__item" class="aria-hidden="true>
            <span class="img" style="background: url('{{ asset('build/images/elaomojis/ducks/duck-on-the-back.png') }}')"></span>
            :duck-on-the-back:
        </li>
        <li class="elaomojis__item" class="aria-hidden="true>
            <span class="img" style="background: url('{{ asset('build/images/elaomojis/ducks/happy-duck.png') }}')"></span>
            :happy-duck:
        </li>
        <li class="elaomojis__item" class="aria-hidden="true>
            <span class="img" style="background: url('{{ asset('build/images/elaomojis/ducks/king-duck.png') }}')"></span>
            :king-duck:
        </li>
    </ul>

    <h2>On aime aussi les chats 🐈</h2>
    <ul class="elaomojis">
        <li class="elaomojis__item" class="aria-hidden="true>
            <span class="img" style="background: url('{{ asset('build/images/elaomojis/cats/rage-cat.png') }}')"></span>
            :rage-cat:
        </li>
        <li class="elaomojis__item" class="aria-hidden="true>
            <span class="img" style="background: url('{{ asset('build/images/elaomojis/cats/amazed-cat.png') }}')"></span>
            :amazed-cat:
        </li>
        <li class="elaomojis__item" class="aria-hidden="true>
            <span class="img" style="background: url('{{ asset('build/images/elaomojis/cats/poti-blagueur.png') }}')"></span>
            :poti-blagueur:
        </li>
        <li class="elaomojis__item" class="aria-hidden="true>
            <span class="img" style="background: url('{{ asset('build/images/elaomojis/cats/killer-robot-cat.png') }}')"></span>
            :killer-robot-cat:
        </li>
        <li class="elaomojis__item" class="aria-hidden="true>
            <span class="img" style="background: url('{{ asset('build/images/elaomojis/cats/catjam.gif') }}')"></span>
            :catjam:
        </li>
    </ul>

    <h2>Et les animaux qui jugent 🔥🔥</h2>
    <ul class="elaomojis">
        <li class="elaomojis__item" class="aria-hidden="true>
            <span class="img" style="background: url('{{ asset('build/images/elaomojis/judging/judging-hermine.png') }}')"></span>
            :judging-hermine:
        </li>
        <li class="elaomojis__item" class="aria-hidden="true>
            <span class="img" style="background: url('{{ asset('build/images/elaomojis/judging/judging-merle.png') }}')"></span>
            :judging-merle:
        </li>
        <li class="elaomojis__item" class="aria-hidden="true>
            <span class="img" style="background: url('{{ asset('build/images/elaomojis/judging/judging-otter.png') }}')"></span>
            :judging-otter:
        </li>
        <li class="elaomojis__item" class="aria-hidden="true>
            <span class="img" style="background: url('{{ asset('build/images/elaomojis/judging/judging-guinea-pig.png') }}')"></span>
            :judging-guinea-pig:
        </li>
        <li class="elaomojis__item" class="aria-hidden="true>
            <span class="img" style="background: url('{{ asset('build/images/elaomojis/judging/judging-swans.png') }}')"></span>
            :judging-swans:
        </li>
        <li class="elaomojis__item" class="aria-hidden="true>
            <span class="img" style="background: url('{{ asset('build/images/elaomojis/judging/judging-heron.png') }}')"></span>
            :judging-heron:
        </li>
        <li class="elaomojis__item" class="aria-hidden="true>
            <span class="img" style="background: url('{{ asset('build/images/elaomojis/judging/judging-shark.png') }}')"></span>
            :judging-shark:
        </li>
        <li class="elaomojis__item" class="aria-hidden="true>
            <span class="img" style="background: url('{{ asset('build/images/elaomojis/judging/judging-mantis.png') }}')"></span>
            :judging-mantis:
        </li>
        <li class="elaomojis__item" class="aria-hidden="true>
            <span class="img" style="background: url('{{ asset('build/images/elaomojis/judging/judging-goose.png') }}')"></span>
            :judging-goose:
        </li>
    </ul>

    <h2>Enfin, les inclassables 📦</h2>
    <ul class="elaomojis">
        <li class="elaomojis__item" class="aria-hidden="true>
            <span class="img" style="background: url('{{ asset('build/images/elaomojis/others/approving-hermine.png') }}')"></span>
            :approving-hermine:
        </li>
        <li class="elaomojis__item" class="aria-hidden="true>
            <span class="img" style="background: url('{{ asset('build/images/elaomojis/others/loading-hermine.gif') }}')"></span>
            :loading-hermine:
        </li>
        <li class="elaomojis__item" class="aria-hidden="true>
            <span class="img" style="background: url('{{ asset('build/images/elaomojis/others/broken-courgette.png') }}')"></span>
            :broken-courgette:
        </li>
        <li class="elaomojis__item" class="aria-hidden="true>
            <span class="img" style="background: url('{{ asset('build/images/elaomojis/judging/gneu-gneu-gneu.png') }}')"></span>
            :gneu-gneu-gneu:
        </li>
        <li class="elaomojis__item" class="aria-hidden="true>
            <span class="img" style="background: url('{{ asset('build/images/elaomojis/others/cest-genial.png') }}')"></span>
            :cest-genial:
        </li>
        <li class="elaomojis__item" class="aria-hidden="true>
            <span class="img" style="background: url('{{ asset('build/images/elaomojis/others/y-a-quoi.png') }}')"></span>
            :y-a-quoi:
        </li>
        <li class="elaomojis__item" class="aria-hidden="true>
            <span class="img" style="background: url('{{ asset('build/images/elaomojis/others/tortue-qui-tourne.gif') }}')"></span>
            :tortue-qui-tourne:
        </li>
        <li class="elaomojis__item" class="aria-hidden="true>
            <span class="img" style="background: url('{{ asset('build/images/elaomojis/others/gnocchi.png') }}')"></span>
            :gnocchi:
        </li>
    </ul>

    <div class="bricks">
        <div class="brick-comment">
            <p class="title">Et vous ?</p>
            <p>
                Quels sont vos emojis préférés ?
                <a href="" target="_blank" class="animated-link animated-link--light">
                    Poursuivons la discussion sur twitter !
                </a>
            </p>
            <div id="tweet-container" class="tweet-container" data-tweet-id=""></div>
        </div>
    </div>
{% endblock %}
