{% extends 'base.html.twig' %}

{% block meta_title "Notre sélection d'Elaomojis | Elao" %}
{% block meta_description "À l’occasion de la Journée Mondiale des Emojis 2021 (World Emoji Day), nous sommes ravis de vous présenter une sélection de nos :emojis-favoris: | Elao" %}

{% block twitter_card_type 'summary_large_image' %}
{% block og_image asset('social/elaomojis.jpg'|glide_image_preset('opengraph_image')) %}
{% block twitter_image absolute_url(asset('social/elaomojis.jpg'|glide_image_preset('twitter_card'))) %}

{% block content %}
    <ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
        <li class="breadcrumb__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <a href="{{ path('homepage') }}" itemprop="item">
                <span itemprop="name">Accueil</span>
            </a>
            <meta itemprop="position" content="1" />
        </li>
        <li class="breadcrumb__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <a itemprop="item" href="#">
                <span itemprop="name">Elaomojis</span>
            </a>
            <meta itemprop="position" content="2" />
        </li>
    </ol>

    <div class="banner">
        <h1 class="banner__title" data-aos="fade-right">
            Sélection officielle
            <span>de nos Elaomojis 🥁🥁🥁</span>
        </h1>
        <div class="banner__highlight" data-aos="zoom-in">
            <p>À l’occasion de la Journée Mondiale des Emojis 2021 (World Emoji Day), nous sommes ravis de vous présenter une sélection de nos :emojis-favoris:</p>
        </div>
    </div>

    <h2>Le choix de l'équipe 🙋‍♀️🙆‍♂️</h2>
    <ul class="elaomojis">
        <li class="elaomojis__item" aria-hidden="true">
            <a href="{{ asset('build/images/elaomojis/parrots/ultra-fast-parrot.gif') }}" target="_blank">
                <span class="img" style="background: url('{{ asset('build/images/elaomojis/parrots/ultra-fast-parrot.gif') }}')"></span>
                :ultra-fast-parrot:
            </a>
        </li>
        <li class="elaomojis__item" aria-hidden="true">
            <a href="{{ asset('build/images/elaomojis/parrots/fire-parrot.gif') }}" target="_blank">
                <span class="img" style="background: url('{{ asset('build/images/elaomojis/parrots/fire-parrot.gif') }}')"></span>
                :fire-parrot:
            </a>
        </li>
        <li class="elaomojis__item" aria-hidden="true">
            <a href="{{ asset('build/images/elaomojis/parrots/real-fiesta-parrot.gif') }}" target="blank">
                <span class="img" style="background: url('{{ asset('build/images/elaomojis/parrots/real-fiesta-parrot.gif') }}')"></span>
                :real-fiesta-parrot:
            </a>
        </li>
        <li class="elaomojis__item" aria-hidden="true">
            <a href="{{ asset('build/images/elaomojis/miscellaneous/marioluigidance.gif') }}" target="blank">
                <span class="img" style="background: url('{{ asset('build/images/elaomojis/miscellaneous/marioluigidance.gif') }}')"></span>
                :marioluigidance:
            </a>
        </li>
        <li class="elaomojis__item" aria-hidden="true">
            <a href="{{ asset('build/images/elaomojis/miscellaneous/chips.png') }}" target="blank">
                <span class="img" style="background: url('{{ asset('build/images/elaomojis/miscellaneous/chips.png') }}')"></span>
                :chips:
            </a>
        </li>
        <li class="elaomojis__item" aria-hidden="true">
            <a href="{{ asset('build/images/elaomojis/miscellaneous/twig-loading.gif') }}" target="blank">
                <span class="img" style="background: url('{{ asset('build/images/elaomojis/miscellaneous/twig-loading.gif') }}')"></span>
                :twig-loading:
            </a>
        </li>
        <li class="elaomojis__item" aria-hidden="true">
            <a href="{{ asset('build/images/elaomojis/miscellaneous/slowclap.gif') }}" target="blank">
                <span class="img" style="background: url('{{ asset('build/images/elaomojis/miscellaneous/slowclap.gif') }}')"></span>
                :slowclap:
            </a>
        </li>
        <li class="elaomojis__item" aria-hidden="true">
            <a href="{{ asset('build/images/elaomojis/miscellaneous/facepalm-animate.gif') }}" target="blank">
                <span class="img" style="background: url('{{ asset('build/images/elaomojis/miscellaneous/facepalm-animate.gif') }}')"></span>
                :facepalm-animate:
            </a>
        </li>
        <li class="elaomojis__item" aria-hidden="true">
            <a href="{{ asset('build/images/elaomojis/miscellaneous/excellent-mrburns.gif') }}" target="blank">
                <span class="img" style="background: url('{{ asset('build/images/elaomojis/miscellaneous/excellent-mrburns.gif') }}')"></span>
                :excellent-mrburns:
            </a>
        </li>
        <li class="elaomojis__item" aria-hidden="true">
            <a href="{{ asset('build/images/elaomojis/miscellaneous/amaze.gif') }}" target="blank">
                <span class="img" style="background: url('{{ asset('build/images/elaomojis/miscellaneous/amaze.gif') }}')"></span>
                :amaze:
            </a>
        </li>
        <li class="elaomojis__item" aria-hidden="true">
            <a href="{{ asset('build/images/elaomojis/ah/ah.png') }}" target="blank">
                <span class="img" style="background: url('{{ asset('build/images/elaomojis/ah/ah.png') }}')"></span>
                :ah:
            </a>
        </li>
        <li class="elaomojis__item" aria-hidden="true">
            <a href="{{ asset('build/images/elaomojis/ah/ah-poisson.png') }}" target="blank">
                <span class="img" style="background: url('{{ asset('build/images/elaomojis/ah/ah-poisson.png') }}')"></span>
                :ah-poisson:
            </a>
        </li>
        <li class="elaomojis__item" aria-hidden="true">
            <a href="{{ asset('build/images/elaomojis/ah/ah-guinea-pig.png') }}" target="blank">
                <span class="img" style="background: url('{{ asset('build/images/elaomojis/ah/ah-guinea-pig.png') }}')"></span>
                :ah-guinea-pig:
            </a>
        </li>
        <li class="elaomojis__item" aria-hidden="true">
            <a href="{{ asset('build/images/elaomojis/miscellaneous/peepoodoo.gif') }}" target="blank">
                <span class="img" style="background: url('{{ asset('build/images/elaomojis/miscellaneous/peepoodoo.gif') }}')"></span>
                :peepoodoo:
            </a>
        </li>
        <li class="elaomojis__item" aria-hidden="true">
            <a href="{{ asset('build/images/elaomojis/miscellaneous/bananadance.gif') }}" target="blank">
                <span class="img" style="background: url('{{ asset('build/images/elaomojis/miscellaneous/bananadance.gif') }}')"></span>
                :bananadance:
            </a>
        </li>
        <li class="elaomojis__item" aria-hidden="true">
            <a href="{{ asset('build/images/elaomojis/judging/judging-hermine.png') }}" target="blank">
                <span class="img" style="background: url('{{ asset('build/images/elaomojis/judging/judging-hermine.png') }}')"></span>
                :judging-hermine:
            </a>
        </li>
        <li class="elaomojis__item" aria-hidden="true">
            <a href="{{ asset('build/images/elaomojis/judging/judging-merle.png') }}" target="blank">
                <span class="img" style="background: url('{{ asset('build/images/elaomojis/judging/judging-merle.png') }}')"></span>
                :judging-merle:
            </a>
        </li>
        <li class="elaomojis__item" aria-hidden="true">
            <a href="{{ asset('build/images/elaomojis/miscellaneous/coeurdoigts.png') }}" target="blank">
                <span class="img" style="background: url('{{ asset('build/images/elaomojis/miscellaneous/coeurdoigts.png') }}')"></span>
                :coeurdoigts:
            </a>
        </li>
        <li class="elaomojis__item" aria-hidden="true">
            <a href="{{ asset('build/images/elaomojis/miscellaneous/++1.png') }}" target="blank">
                <span class="img" style="background: url('{{ asset('build/images/elaomojis/miscellaneous/++1.png') }}')"></span>
                :++1:
            </a>
        </li>
        <li class="elaomojis__item" aria-hidden="true">
            <a href="{{ asset('build/images/elaomojis/miscellaneous/chinois-1901.png') }}" target="blank">
                <span class="img" style="background: url('{{ asset('build/images/elaomojis/miscellaneous/chinois-1901.png') }}')"></span>
                :chinois-1901:
            </a>
        </li>
        <li class="elaomojis__item" aria-hidden="true">
            <a href="{{ asset('build/images/elaomojis/miscellaneous/chalasr.png') }}" target="blank">
                <span class="img" style="background: url('{{ asset('build/images/elaomojis/miscellaneous/chalasr.png') }}')"></span>
                :chalasr:
            </a>
        </li>
        <li class="elaomojis__item" aria-hidden="true">
            <a href="{{ asset('build/images/elaomojis/miscellaneous/penis.gif') }}" target="blank">
                <span class="img" style="background: url('{{ asset('build/images/elaomojis/miscellaneous/penis.gif') }}')"></span>
                :penis:
            </a>
        </li>
        <li class="elaomojis__item" aria-hidden="true">
            <a href="{{ asset('build/images/elaomojis/miscellaneous/non-non-cat.gif') }}" target="blank">
                <span class="img" style="background: url('{{ asset('build/images/elaomojis/miscellaneous/non-non-cat.gif') }}')"></span>
                :non-non-cat:
            </a>
        </li>
        <li class="elaomojis__item" aria-hidden="true">
            <a href="{{ asset('build/images/elaomojis/miscellaneous/help.png') }}" target="blank">
                <span class="img" style="background: url('{{ asset('build/images/elaomojis/miscellaneous/help.png') }}')"></span>
                :help:
            </a>
        </li>
        <li class="elaomojis__item" aria-hidden="true">
            <a href="{{ asset('build/images/elaomojis/miscellaneous/gneu-gneu-gneu.png') }}" target="blank">
                <span class="img" style="background: url('{{ asset('build/images/elaomojis/miscellaneous/gneu-gneu-gneu.png') }}')"></span>
                :gneu-gneu-gneu:
            </a>
        </li>
        <li class="elaomojis__item" aria-hidden="true">
            <a href="{{ asset('build/images/elaomojis/cats/poti-blagueur.png') }}" target="blank">
                <span class="img" style="background: url('{{ asset('build/images/elaomojis/cats/poti-blagueur.png') }}')"></span>
                :poti-blagueur:
            </a>
        </li>
    </ul>

    <h2>Quelques collections 🙌</h2>
    <h3>Ah ! - <i>Denis Brogniart</i></h3>
    <ul class="elaomojis">
        <li class="elaomojis__item" aria-hidden="true">
            <a href="{{ asset('build/images/elaomojis/ah/ah.png') }}" target="blank">
                <span class="img" style="background: url('{{ asset('build/images/elaomojis/ah/ah.png') }}')"></span>
                :ah:
            </a>
        </li>
        <li class="elaomojis__item" aria-hidden="true">
            <a href="{{ asset('build/images/elaomojis/ah/ah-poisson.png') }}" target="blank">
                <span class="img" style="background: url('{{ asset('build/images/elaomojis/ah/ah-poisson.png') }}')"></span>
                :ah-poisson:
            </a>
        </li>
        <li class="elaomojis__item" aria-hidden="true">
            <a href="{{ asset('build/images/elaomojis/ah/ah-puffer-fish.png') }}" target="blank">
                <span class="img" style="background: url('{{ asset('build/images/elaomojis/ah/ah-puffer-fish.png') }}')"></span>
                :ah-puffer-fish:
            </a>
        </li>
        <li class="elaomojis__item" aria-hidden="true">
            <a href="{{ asset('build/images/elaomojis/ah/ah-guinea-pig.png') }}" target="blank">
                <span class="img" style="background: url('{{ asset('build/images/elaomojis/ah/ah-guinea-pig.png') }}')"></span>
                :ah-guinea-pig:
            </a>
        </li>
        <li class="elaomojis__item" aria-hidden="true">
            <a href="{{ asset('build/images/elaomojis/ah/ah-picasso.png') }}" target="blank">
                <span class="img" style="background: url('{{ asset('build/images/elaomojis/ah/ah-picasso.png') }}')"></span>
                :ah-picasso:
            </a>
        </li>
        <li class="elaomojis__item" aria-hidden="true">
            <a href="{{ asset('build/images/elaomojis/ah/ah-plastic-bird.png') }}" target="blank">
                <span class="img" style="background: url('{{ asset('build/images/elaomojis/ah/ah-plastic-bird.png') }}')"></span>
                :ah-plastic-bird:
            </a>
        </li>
    </ul>

    <h3>Les perroquets</h3>
    <ul class="elaomojis">
        <li class="elaomojis__item" aria-hidden="true">
            <a href="{{ asset('build/images/elaomojis/parrots/fiesta-parrot.gif') }}" target="blank">
                <span class="img" style="background: url('{{ asset('build/images/elaomojis/parrots/fiesta-parrot.gif') }}')"></span>
                :fiesta-parrot:
            </a>
        </li>
        <li class="elaomojis__item" aria-hidden="true">
            <a href="{{ asset('build/images/elaomojis/parrots/real-fiesta-parrot.gif') }}" target="blank">
                <span class="img" style="background: url('{{ asset('build/images/elaomojis/parrots/real-fiesta-parrot.gif') }}')"></span>
                :real-fiesta-parrot:
            </a>
        </li>
        <li class="elaomojis__item" aria-hidden="true">
            <a href="{{ asset('build/images/elaomojis/parrots/ultra-fast-parrot.gif') }}" target="blank">
                <span class="img" style="background: url('{{ asset('build/images/elaomojis/parrots/ultra-fast-parrot.gif') }}')"></span>
                :ultra-fast-parrot:
            </a>
        </li>
        <li class="elaomojis__item" aria-hidden="true">
            <a href="{{ asset('build/images/elaomojis/parrots/devil-parrot.gif') }}" target="blank">
                <span class="img" style="background: url('{{ asset('build/images/elaomojis/parrots/devil-parrot.gif') }}')"></span>
                :devil-parrot:
            </a>
        </li>
        <li class="elaomojis__item" aria-hidden="true">
            <a href="{{ asset('build/images/elaomojis/parrots/fire-parrot.gif') }}" target="blank">
                <span class="img" style="background: url('{{ asset('build/images/elaomojis/parrots/fire-parrot.gif') }}')"></span>
                :fire-parrot:
            </a>
        </li>
    </ul>

    <h3>Les canards</h3>
    <ul class="elaomojis">
        <li class="elaomojis__item" aria-hidden="true">
            <a href="{{ asset('build/images/elaomojis/ducks/duck.png') }}" target="blank">
                <span class="img" style="background: url('{{ asset('build/images/elaomojis/ducks/duck.png') }}')"></span>
                :duck:
            </a>
        </li>
        <li class="elaomojis__item" aria-hidden="true">
            <a href="{{ asset('build/images/elaomojis/ducks/duck-on-the-back.png') }}" target="blank">
                <span class="img" style="background: url('{{ asset('build/images/elaomojis/ducks/duck-on-the-back.png') }}')"></span>
                :duck-on-the-back:
            </a>
        </li>
        <li class="elaomojis__item" aria-hidden="true">
            <a href="{{ asset('build/images/elaomojis/ducks/happy-duck.png') }}" target="blank">
                <span class="img" style="background: url('{{ asset('build/images/elaomojis/ducks/happy-duck.png') }}')"></span>
                :happy-duck:
            </a>
        </li>
        <li class="elaomojis__item" aria-hidden="true">
            <a href="{{ asset('build/images/elaomojis/ducks/king-duck.png') }}" target="blank">
                <span class="img" style="background: url('{{ asset('build/images/elaomojis/ducks/king-duck.png') }}')"></span>
                :king-duck:
            </a>
        </li>
    </ul>

    <h3>Les chats</h3>
    <ul class="elaomojis">
        <li class="elaomojis__item" aria-hidden="true">
            <a href="{{ asset('build/images/elaomojis/cats/rage-cat.png') }}" target="blank">
                <span class="img" style="background: url('{{ asset('build/images/elaomojis/cats/rage-cat.png') }}')"></span>
                :rage-cat:
            </a>
        </li>
        <li class="elaomojis__item" aria-hidden="true">
            <a href="{{ asset('build/images/elaomojis/cats/amazed-cat.png') }}" target="blank">
                <span class="img" style="background: url('{{ asset('build/images/elaomojis/cats/amazed-cat.png') }}')"></span>
                :amazed-cat:
            </a>
        </li>
        <li class="elaomojis__item" aria-hidden="true">
            <a href="{{ asset('build/images/elaomojis/cats/poti-blagueur.png') }}" target="blank">
                <span class="img" style="background: url('{{ asset('build/images/elaomojis/cats/poti-blagueur.png') }}')"></span>
                :poti-blagueur:
            </a>
        </li>
        <li class="elaomojis__item" aria-hidden="true">
            <a href="{{ asset('build/images/elaomojis/cats/killer-robot-cat.png') }}" target="blank">
                <span class="img" style="background: url('{{ asset('build/images/elaomojis/cats/killer-robot-cat.png') }}')"></span>
                :killer-robot-cat:
            </a>
        </li>
        <li class="elaomojis__item" aria-hidden="true">
            <a href="{{ asset('build/images/elaomojis/cats/catjam.gif') }}" target="blank">
                <span class="img" style="background: url('{{ asset('build/images/elaomojis/cats/catjam.gif') }}')"></span>
                :catjam:
            </a>
        </li>
    </ul>

    <h3>Les animaux qui jugent</h3>
    <ul class="elaomojis">
        <li class="elaomojis__item" aria-hidden="true">
            <a href="{{ asset('build/images/elaomojis/judging/judging-hermine.png') }}" target="blank">
                <span class="img" style="background: url('{{ asset('build/images/elaomojis/judging/judging-hermine.png') }}')"></span>
                :judging-hermine:
            </a>
        </li>
        <li class="elaomojis__item" aria-hidden="true">
            <a href="{{ asset('build/images/elaomojis/judging/judging-merle.png') }}" target="blank">
                <span class="img" style="background: url('{{ asset('build/images/elaomojis/judging/judging-merle.png') }}')"></span>
                :judging-merle:
            </a>
        </li>
        <li class="elaomojis__item" aria-hidden="true">
            <a href="{{ asset('build/images/elaomojis/judging/judging-otter.png') }}" target="blank">
                <span class="img" style="background: url('{{ asset('build/images/elaomojis/judging/judging-otter.png') }}')"></span>
                :judging-otter:
            </a>
        </li>
        <li class="elaomojis__item" aria-hidden="true">
            <a href="{{ asset('build/images/elaomojis/judging/judging-guinea-pig.png') }}" target="blank">
                <span class="img" style="background: url('{{ asset('build/images/elaomojis/judging/judging-guinea-pig.png') }}')"></span>
                :judging-guinea-pig:
            </a>
        </li>
        <li class="elaomojis__item" aria-hidden="true">
            <a href="{{ asset('build/images/elaomojis/judging/judging-swans.png') }}" target="blank">
                <span class="img" style="background: url('{{ asset('build/images/elaomojis/judging/judging-swans.png') }}')"></span>
                :judging-swans:
            </a>
        </li>
        <li class="elaomojis__item" aria-hidden="true">
            <a href="{{ asset('build/images/elaomojis/judging/judging-heron.png') }}" target="blank">
                <span class="img" style="background: url('{{ asset('build/images/elaomojis/judging/judging-heron.png') }}')"></span>
                :judging-heron:
            </a>
        </li>
        <li class="elaomojis__item" aria-hidden="true">
            <a href="{{ asset('build/images/elaomojis/judging/judging-shark.png') }}" target="blank">
                <span class="img" style="background: url('{{ asset('build/images/elaomojis/judging/judging-shark.png') }}')"></span>
                :judging-shark:
            </a>
        </li>
        <li class="elaomojis__item" aria-hidden="true">
            <a href="{{ asset('build/images/elaomojis/judging/judging-mantis.png') }}" target="blank">
                <span class="img" style="background: url('{{ asset('build/images/elaomojis/judging/judging-mantis.png') }}')"></span>
                :judging-mantis:
            </a>
        </li>
        <li class="elaomojis__item" aria-hidden="true">
            <a href="{{ asset('build/images/elaomojis/judging/judging-goose.png') }}" target="blank">
                <span class="img" style="background: url('{{ asset('build/images/elaomojis/judging/judging-goose.png') }}')"></span>
                :judging-goose:
            </a>
        </li>
        <li class="elaomojis__item" aria-hidden="true">
            <a href="{{ asset('build/images/elaomojis/judging/judgemental-shoelace.png') }}" target="blank">
                <span class="img" style="background: url('{{ asset('build/images/elaomojis/judging/judgemental-shoelace.png') }}')"></span>
                :judgemental-shoelace:
            </a>
        </li>
    </ul>

    <h3>Bonus : la happy team</h3>
    <ul class="elaomojis">
        <li class="elaomojis__item" aria-hidden="true">
            <a href="{{ asset('build/images/elaomojis/happy/alyona-happy.gif') }}" target="blank">
                <span class="img" style="background: url('{{ asset('build/images/elaomojis/happy/alyona-happy.gif') }}')"></span>
                :alyona-happy:
            </a>
        </li>
        <li class="elaomojis__item" aria-hidden="true">
            <a href="{{ asset('build/images/elaomojis/happy/amelie-happy.gif') }}" target="blank">
                <span class="img" style="background: url('{{ asset('build/images/elaomojis/happy/amelie-happy.gif') }}')"></span>
                :amelie-happy:
            </a>
        </li>
        <li class="elaomojis__item" aria-hidden="true">
            <a href="{{ asset('build/images/elaomojis/happy/anne-laure-happy.gif') }}" target="blank">
                <span class="img" style="background: url('{{ asset('build/images/elaomojis/happy/anne-laure-happy.gif') }}')"></span>
                :anne-laure-happy:
            </a>
        </li>
        <li class="elaomojis__item" aria-hidden="true">
            <a href="{{ asset('build/images/elaomojis/happy/arti-happy.gif') }}" target="blank">
                <span class="img" style="background: url('{{ asset('build/images/elaomojis/happy/arti-happy.gif') }}')"></span>
                :arti-happy:
            </a>
        </li>
        <li class="elaomojis__item" aria-hidden="true">
            <a href="{{ asset('build/images/elaomojis/happy/ben-happy.gif') }}" target="blank">
                <span class="img" style="background: url('{{ asset('build/images/elaomojis/happy/ben-happy.gif') }}')"></span>
                :ben-happy:
            </a>
        </li>
        <li class="elaomojis__item" aria-hidden="true">
            <a href="{{ asset('build/images/elaomojis/happy/christelle-happy.gif') }}" target="blank">
                <span class="img" style="background: url('{{ asset('build/images/elaomojis/happy/christelle-happy.gif') }}')"></span>
                :christelle-happy:
            </a>
        </li>
        <li class="elaomojis__item" aria-hidden="true">
            <a href="{{ asset('build/images/elaomojis/happy/flo-happy.gif') }}" target="blank">
                <span class="img" style="background: url('{{ asset('build/images/elaomojis/happy/flo-happy.gif') }}')"></span>
                :flo-happy:
            </a>
        </li>
        <li class="elaomojis__item" aria-hidden="true">
            <a href="{{ asset('build/images/elaomojis/happy/guewen-happy.gif') }}" target="blank">
                <span class="img" style="background: url('{{ asset('build/images/elaomojis/happy/guewen-happy.gif') }}')"></span>
                :guewen-happy:
            </a>
        </li>
        <li class="elaomojis__item" aria-hidden="true">
            <span class="img" style="background: url('{{ asset('build/images/elaomojis/happy/lod-happy.gif') }}')"></span>
            :lod-happy:
        </li>
        <li class="elaomojis__item" aria-hidden="true">
            <a href="{{ asset('build/images/elaomojis/happy/max-happy.gif') }}" target="blank">
                <span class="img" style="background: url('{{ asset('build/images/elaomojis/happy/max-happy.gif') }}')"></span>
                :max-happy:
            </a>
        </li>
        <li class="elaomojis__item" aria-hidden="true">
            <a href="{{ asset('build/images/elaomojis/happy/ogi-happy.gif') }}" target="blank">
                <span class="img" style="background: url('{{ asset('build/images/elaomojis/happy/ogi-happy.gif') }}')"></span>
                :ogi-happy:
            </a>
        </li>
        <li class="elaomojis__item" aria-hidden="true">
            <a href="{{ asset('build/images/elaomojis/happy/tom-happy.gif') }}" target="blank">
                <span class="img" style="background: url('{{ asset('build/images/elaomojis/happy/tom-happy.gif') }}')"></span>
                :tom-happy:
            </a>
        </li>
        <li class="elaomojis__item" aria-hidden="true">
            <a href="{{ asset('build/images/elaomojis/happy/xavg-happy.gif') }}" target="blank">
                <span class="img" style="background: url('{{ asset('build/images/elaomojis/happy/xavg-happy.gif') }}')"></span>
                :xavg-happy:
            </a>
        </li>
        <li class="elaomojis__item" aria-hidden="true">
            <a href="{{ asset('build/images/elaomojis/happy/xavr-happy.gif') }}" target="blank">
                <span class="img" style="background: url('{{ asset('build/images/elaomojis/happy/xavr-happy.gif') }}')"></span>
                :xavr-happy:
            </a>
        </li>
        <li class="elaomojis__item" aria-hidden="true">
            <a href="{{ asset('build/images/elaomojis/happy/yves-happy.gif') }}" target="blank">
                <span class="img" style="background: url('{{ asset('build/images/elaomojis/happy/yves-happy.gif') }}')"></span>
                :yves-happy:
            </a>
        </li>
    </ul>

    <div class="bricks">
        <div class="brick-comment">
            <p class="title">Et vous ?</p>
            <p>
                Quels sont vos emojis préférés ?
                <a href="" target="_blank" class="animated-link animated-link--light">
                    Poursuivons la discussion sur twitter !
                </a>
            </p>
            <div id="tweet-container" class="tweet-container" data-tweet-id=""></div>
        </div>
    </div>
{% endblock %}
