{% import "macros.html.twig" as macros %}
{% extends 'base.html.twig' %}

{% set interval = date('now').diff(date(site.birthdate)) %}
{% block meta_title "Création et développement d'applications web et mobile sur-mesure à Lyon" %}
{% block meta_description "Nous sommes un atelier de co-conception d’applications web et mobiles sur-mesure, animé depuis plus de %d ans par des expert·e·s passionné·e·s | Elao"|format(interval.y) %}

{% block meta %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="page-home container">
        <div class="banner-home">
            <span class="banner-home__title" data-aos="fade-right">
                elao
                <span>développe</span>
                <span>du lien</span>
            </span>
            <div class="banner-home__content" data-aos="zoom-in">
                <h1>{{ site.description }}</h1>
            </div>
            {% set highlightedCaseStudy = content_get('App\\Model\\CaseStudy', site.home.highlights.caseStudy) %}
            <div class="banner-home__image" data-aos="fade-left">
                <figure>
                    <div class="image" style="background: url('{{asset('build/images/pages/home/home-banner.jpg') }}')"></div>
                </figure>
            </div>
            <ul class="banner-home__list">
                {% with { duration: 600, delayGap: 200, delay: 0 } %}
                <li data-aos="fade-in" data-aos-duration="{{ duration }}" data-aos-delay="{{ delay }}">
                    <div class="item">
                        {% set interval = date('now').diff(date(site.birthdate)) %}
                        <span class="number">{{ interval.y }}</span>
                        ans d'expérience
                        <small>(et d'expérimentations)</small>
                    </div>
                </li>
                {% set delay = delay + delayGap %}
                <li data-aos="fade-in" data-aos-duration="{{ duration }}" data-aos-delay="{{ delay }}">
                    <a href="{{ path('case_studies') }}" class="item">
                        <span class="number">200+</span>
                        projets
                        <span class="item__link">
                        Nos études de cas
                        <i class="icon icon--arrow" aria-hidden="true"></i>
                    </span>
                    </a>
                </li>
                {% set delay = delay + delayGap %}
                <li data-aos="fade-in" data-aos-duration="{{ duration }}" data-aos-delay="{{ delay }}">
                    <a href="{{ path('team') }}" class="item">
                        <span class="number">{{ membersCount }}</span>
                        expert·e·s passionné·e·s
                        <span class="item__link">
                            La team elao
                            <i class="icon icon--arrow" aria-hidden="true"></i>
                        </span>
                    </a>
                </li>
                {% endwith %}
            </ul>
        </div>

        <section class="illustrated-section" data-aos="fade-left">
            <div class="illustrated-section__content">
                <h2 class="h2--dash">Et si vous construisiez votre brief projet <br> grâce à notre assistant IA ?</h2>
                <p>Vous avez une idée de projet et vous souhaitez mesurer sa viabilité ? Vous avez besoin d'optimiser vos données métiers ? Vous souhaitez accélérer votre projet ? Nous avons conçu notre assistant, Amabla, basé sur les <strong>IA génératives</strong> qui vous permettra <strong>d'affiner vos besoins</strong>, définir vos <strong>priorités</strong> et <strong>construire</strong> les bases de nos futurs échanges.</p>
                <div class="ia-home">
                    <div class="ia-home__code">
                        <p id="typedtext" {{ stimulus_controller('typewriter', {
                            text: [
                                '"Salut, je suis l\'assistant qui vous aide à concevoir le brief de votre projet. ',
                                'À l\'issu de notre échange, je vous enverrai par mail un brief finalisé prêt à l\'emploi !',
                                'Êtes-vous prêts à commencer ?',
                                'Première étape, je vous invite à choisir le contexte de votre besoin."'
                            ]
                        }) }}></p>
                    </div>

                    <ul class="ia-home__needs">
                        <li class="ia-home__need">
                            <a href="{{ path('ia-brief', { _fragment: 'brief', brief: "expertize" }) }}">
                                <div>
                                    <h3>J'ai déjà mon idée et j'ai besoin d'une expertise</h3>
                                    <img src="{{ asset('build/images/pages/home/ideas.svg') }}" alt="">
                                </div>
                                <span class="link link--brand">Construire mon brief</span>
                            </a>
                        </li>
                        <li class="ia-home__need">
                            <a href="{{ path('ia-brief', { _fragment: 'brief', brief: "optimize" }) }}">
                                <div>
                                    <h3>J'ai besoin d'optimiser les données de mon entreprise</h3>
                                    <img src="{{ asset('build/images/pages/home/data.svg') }}" alt="">
                                </div>
                                <span class="link link--brand">Construire mon brief</span>
                            </a>
                        </li>
                        <li class="ia-home__need">
                            <a href="{{ path('ia-brief', { _fragment: 'brief', brief: "accelerate" }) }}">
                                <div>
                                    <h3>J'ai besoin d'accélérer mon projet</h3>
                                    <img src="{{ asset('build/images/pages/home/speed.svg') }}" alt="">
                                </div>
                                <span class="link link--brand">Construire mon brief</span>
                            </a>
                        </li>
                        <li class="ia-home__need">
                            <a href="{{ path('ia-brief', { _fragment: 'brief', brief: "integrate" }) }}">
                                <div class="content">
                                    <h3>J'aimerai intégrer l'IA à mon projet</h3>
                                    <img src="{{ asset('build/images/pages/home/artificial-intelligence.svg') }}" alt="">
                                </div>
                                <span class="link link--brand">Construire mon brief</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="illustrated-section" data-aos="fade-right">
            <div class="illustrated-section__content">
                <div class="quote-home">
                    <picture data-aos="fade-left">
                        <source
                            type="image/webp"
                            srcset="{{ asset('build/images/pages/home/coding.webp') }} 1x,
                                {{ asset('build/images/pages/home/coding@2x.webp') }} 2x"
                        >
                        <source
                            type="image/jpeg"
                            srcset="{{ asset('build/images/pages/home/coding.jpg') }} 1x,
                                {{ asset('build/images/pages/home/coding@2x.jpg') }} 2x"
                        >
                        <img class="quote-home__img" src="{{ asset('build/images/pages/home/coding.jpg') }}" alt="" />
                    </picture>
                    <blockquote class="quote-home__blockquote" data-aos="zoom-in">Conseiller et concevoir des applications web sur-mesure, animé par des experts passionnés.</blockquote>
                </div>
            </div>
        </section>

        <section class="illustrated-section" data-aos="fade-left">
            <div class="illustrated-section__content">
                <h2 class="h2--dash">Les services que nous proposons <br> chez Elao</h2>
                <p>En tant qu'atelier de co-conception, nous avons pour objectif de contribuer à l'élaboration de vos projets, en <strong>collaboration</strong>  étroite avec vous, tout en mettant l'accent sur la satisfaction de vos utilisateurs. Cette approche passe par notre <strong>expertise</strong> sur différents services.</p>
                <ul class="services-home">
                    <li class="services-home__card">
                        <h3>Développement web et mobile sur-mesure</h3>
                        <ul>
                            <li>Développement sur-mesure</li>
                            <li>Application web</li>
                            <li>Application mobile</li>
                            <li>Intégration et accessibilité</li>
                            <li>Expert Symfony -React - React Native</li>
                            <li>Architecture applicative</li>
                        </ul>
                        <a href="{{ path('application') }}" class="link link--brand">En savoir plus</a>
                    </li>
                    <li class="services-home__card">
                        <h3>Conseil et accompagnement</h3>
                        <ul>
                            <li>Audit technique</li>
                            <li>Accompagnement global</li>
                            <li>Méthodologie Agile (mais pas que)</li>
                            <li>Facilitation de projet</li>
                            <li>Ateliers participatifs</li>
                            <li>Parcours utilisateur</li>
                        </ul>
                        <a href="{{ path('consulting') }}" class="link link--brand">En savoir plus</a>
                    </li>
                    <li class="services-home__card">
                        <h3>Gestion d'infrastructure et d'hébergement</h3>
                        <ul>
                            <li>Déploiement continu</li>
                            <li>Expertise DevOps</li>
                            <li>Hébergement et maintenance</li>
                            <li>Pilotage d'infrastructures</li>
                        </ul>
                        <a href="{{ path('hosting') }}" class="link link--brand">En savoir plus</a>
                    </li>
                    <li class="services-home__card">
                        <h3>Solutions basées sur l'IA</h3>
                        <ul>
                            <li>IA génératives</li>
                            <li>Assistants personnalisés</li>
                            <li>Intégration ChatGPT</li>
                            <li>Amabla©</li>
                        </ul>
                        <a href="{{ path('ia') }}" class="link link--brand">En savoir plus</a>
                    </li>
                </ul>
            </div>
        </section>

        <section class="illustrated-section" data-aos="fade-right">
            <div class="illustrated-section__content">
                <h2 class="h2--dash">Un atelier expert sur les technos utilisées</h2>
                <div class="section__techno">
                    <div class="illustration">
                        <img src="{{ asset('build/images/technos/symfony.svg') }}" alt="logo Symfony">
                        +
                        <img src="{{ asset('build/images/technos/react.svg') }}" alt="logo Symfony">
                        = ❤️
                    </div>
                    <p>Nous sommes avant tout des experts sur les technologies que nous utilisons au quotidien, avec principalement :</p>
                    <ul>
                        <li><strong>Symfony</strong>, LE <strong>framework PHP</strong> que nous utilisons depuis notre création (nous avons mis notre première application web en ligne en 2006, avant la version 1 de Symfony !). On aime son efficacité, sa modularité, sa robustesse et le dynamisme de sa communauté qui en a fait une référence depuis presque 20 ans.</li>
                        <li><strong>React/ReactNative</strong>, pour le côté front, qui va rendre vos sites et vos applications dynamiques, responsives et permettre une expérience utilisateurs optimale.</li>
                    </ul>
                    <p>Nous faisons le choix de technologies éprouvées, reconnues et maintenables, vous garantissant les solutions les plus qualitatives, robustes et évolutives possibles.</p>
                    <p>Pour découvrir l'ensemble de nos outils cliquez sur "En savoir plus_" !</p>
                    <a href="{{ path('glossary') }}" class="btn btn--secondary btn--animated">
                        <span>
                            En savoir plus
                            {% include 'partials/svg-arrow.html.twig' %}
                        </span>
                    </a>
                </div>
            </div>
        </section>

        <section class="illustrated-section" data-aos="fade-left">
            <div class="illustrated-section__content">
                <h2 class="h2--dash">Nos derniers projets</h2>
                <p>Ce que l'on aime chez Elao ? Contribuer à des <strong>projets vertueux, utiles</strong> à notre société. Nous sommes animés et ressentons la responsabilité de faire émerger, grandir, des projets ayant des valeurs communes aux nôtres.</p>
                <ul class="last-projects">
                    {% for caseStudy in lastThreeCaseStudies %}
                    <li class="last-project">
                        <a href="{{ path('case_study', { caseStudy: caseStudy.slug }) }}" class="last-project__image">
                            <span class="image" style="{{ macros.backgroundImageSrcset(caseStudy.images|first, 'case_study_thumbnail.md') }}"></span>
                        </a>
                        <div class="last-project__content">
                            <h3>{{ caseStudy.title }}</h3>
                            <p>{{ caseStudy.description }}</p>
                            <a href="{{ path('case_study', { caseStudy: caseStudy.slug }) }}" class="btn btn--secondary btn--animated">
                                <span>
                                    Découvrir le projet
                                    {% include 'partials/svg-arrow.html.twig' %}
                                </span>
                            </a>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </section>

        <section class="illustrated-section" data-aos="fade-right">
            <div class="illustrated-section__content">
                <h2 class="h2--dash">Nos clients et partenaires de confiance</h2>
                <div class="partners">
                    <img src="{{ asset('build/images/partners/bien-fonde.svg') }}" alt="logo Bien Fondé">
                    <img src="{{ asset('build/images/partners/efire.svg') }}" alt="logo Efire">
                    <img src="{{ asset('build/images/partners/jetpulp.svg') }}" alt="logo Jetpulp">
                    <img src="{{ asset('build/images/partners/mjc.svg') }}" alt="logo My Job Company">
                    <img src="{{ asset('build/images/partners/musique-music.svg') }}" alt="logo Musique & Music">
                    <img src="{{ asset('build/images/partners/onisep.svg') }}" alt="logo Onisep">
                    <img src="{{ asset('build/images/partners/panneau-pocket.svg') }}" alt="logo Panneau Pocket">
                    <img src="{{ asset('build/images/partners/bedrock.svg') }}" alt="logo Bedrock">
                    <img src="{{ asset('build/images/partners/rix.svg') }}" alt="logo Rix">
                    <img src="{{ asset('build/images/partners/inria.svg') }}" alt="logo Inria">
                    <img src="{{ asset('build/images/partners/engie.svg') }}" alt="logo Engie">
                    <img src="{{ asset('build/images/partners/sensiolabs.svg') }}" alt="logo SensioLabs">
                    <img src="{{ asset('build/images/partners/la-cuisine-du-web.svg') }}" alt="logo La Cuisine du Web">
                    <img src="{{ asset('build/images/partners/afup.svg') }}" alt="logo AFUP">
                    <img src="{{ asset('build/images/partners/digital-league.svg') }}" alt="logo Digital League">
                    <img src="{{ asset('build/images/partners/seb.svg') }}" alt="logo Seb">
                </div>
            </div>
        </section>

        <section class="illustrated-section" data-aos="fade-left">
            <div class="illustrated-section__content">
                <h2 class="h2--dash">Nos dernières actus</h2>
                <p>Nous attachons une grande importance à <strong>partager, redistribuer et favoriser</strong> la vitalité de notre <strong>écosystème</strong>. C'est la raison pour laquelle nous apprécions prendre part à des conférences et diffuser des articles liés à notre domaine d'expertise.</p>
                <ul class="last-articles">
                    {% for article in lastTwoArticles %}
                    <li class="last-article">
                        <a href="{{ path('blog_article', { article: article.slug }) }}" class="last-article__image" data-aos="fade-down">
                            <span class="image" style="{{ macros.backgroundImageSrcset(article.thumbnail, 'article_thumbnail.md') }}"></span>
                        </a>
                        <div class="last-article__content" data-aos="zoom-in">
                            <div class="info">
                                <span>{{ article.date|format_datetime('short', 'none', locale='fr') }}</span>
                                {% block tags %}
                                    <ul class="tag-list">
                                        {% for tag in article.tags %}
                                            <li class="tag-list__item">
                                                <a href="{{ path('blog_tag', { tag: tag }) }}" rel="nofollow">
                                                    #{{ tag|u.camel.title }}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endblock %}
                            </div>
                            <h3>
                                <a class="title" href="{{ path('blog_article', { article: article.slug }) }}">
                                    {{ article.title }}
                                </a>
                            </h3>
                            <a href="{{ path('blog_article', { article: article.slug }) }}" class="link link--brand">Lire l'article</a>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </section>

        <section class="illustrated-section" data-aos="fade-right">
            <div class="push-contact">
                <div class="push-contact__content">Vous souhaitez nous en dire plus sur vos idées, trouver un partenaire expert pour vous accompagner dans la conception et le développement de votre projet ?</div>
                <a href="{{ path('contact') }}" class="btn btn--light btn--animated">Échangeons</a>
            </div>
        </section>
    </div>
{% endblock %}
