{% import "macros.html.twig" as macros %}
{% extends 'base.html.twig' %}

{% set interval = date('now').diff(date(site.birthdate)) %}
{% block meta_title "Création et développement d'applications web et mobile sur-mesure à Lyon" %}
{% block meta_description "Nous sommes un atelier de co-conception d’applications web et mobiles sur-mesure, animé depuis plus de %d ans par des expert·e·s passionné·e·s | Elao"|format(interval.y) %}

{% block meta %}
    {{ parent() }}
{% endblock %}

{% block structured_data %}
    {% autoescape false %}
    <script type="application/ld+json">
        {{- {
            '@context': 'https://schema.org',
            '@type': 'Organization',
            'name': site.title|trim('_'),
            'slogan': site.slogan,
            'url': url('homepage'),
            'logo': url('homepage')~'images/corpo/logo.svg',
            'address': {
                '@type': 'PostalAddress',
                'streetAddress': site.contact.address.street_address,
                'postalCode': site.contact.address.address_postalCode,
                'addressLocality': site.contact.address.address_locality,
                'addressRegion': site.contact.address.address_region,
                'addressCountry': site.contact.address.address_country,
            },
            'email': site.contact.email,
            'telephone': site.contact.phone,
        }|json_encode(
            constant('JSON_PRETTY_PRINT') b-or
            constant('JSON_UNESCAPED_SLASHES') b-or
            constant('JSON_UNESCAPED_UNICODE')
        ) }}
    </script>
    {% endautoescape %}
{% endblock %}

{% block content %}
    <div class="page-home container">
        <div class="banner-home">

            <div class="banner-home__content" data-aos="zoom-in">
                <h1>Elao concoit et développe des applications web et mobiles sur-mesure</h1>
            </div>

            <ul class="banner-home__list">
                {% with { duration: 600, delayGap: 200, delay: 0 } %}
                <li data-aos="fade-in" data-aos-duration="{{ duration }}" data-aos-delay="{{ delay }}">
                    <a href="{{ path('services') }}" class="item">
                        <span class="number">{{ interval.y }}</span>
                        ans d'expérience
                        <small>(et d'expérimentations)</small>
                        <span class="item__link">
                        Nos services
                        <i class="icon icon--arrow" aria-hidden="true"></i>
                    </span>
                    </a>
                </li>
                {% set delay = delay + delayGap %}
                <li data-aos="fade-in" data-aos-duration="{{ duration }}" data-aos-delay="{{ delay }}">
                    <a href="{{ path('case_studies') }}" class="item">
                        <span class="number">200+</span>
                        projets
                        <span class="item__link">
                        Nos études de cas
                        <i class="icon icon--arrow" aria-hidden="true"></i>
                    </span>
                    </a>
                </li>
                {% set delay = delay + delayGap %}
                <li data-aos="fade-in" data-aos-duration="{{ duration }}" data-aos-delay="{{ delay }}">
                    <a href="{{ path('team') }}" class="item">
                        <span class="number">{{ membersCount }}</span>
                        expert·e·s passionné·e·s
                        <span class="item__link">
                            La team elao
                            <i class="icon icon--arrow" aria-hidden="true"></i>
                        </span>
                    </a>
                </li>
                {% endwith %}
            </ul>
        </div>


        <section class="illustrated-section" data-aos="fade-left">
            <div class="illustrated-section__content">
                <h2 class="h2--dash">Vos besoins, nos solutions : une réussite à construire ensemble</h2>
                <p>Depuis 20 ans, nous aidons les entreprises à <strong>gagner du temps</strong>, <strong>optimiser leurs process</strong> ou <strong>développer leur business</strong>.</p>
                <p>Nous mettons notre <strong>expertise</strong> et notre <strong>passion</strong> au service de vos projets, pour concevoir des applications web et mobiles robustes, évolutives, et parfaitement adaptées à vos besoins.</p>
                <p>Elao, ce sont des équipes <strong>expertes</strong> (sympas !) et <strong>engagées</strong>, réunies par des <a href="{{ path('values') }}" >valeurs humaines communes</a> qui aiment s'immerger dans vos problématiques, les comprendre en profondeur avant de développer.</p>
                <p>Avec un esprit <strong>collaboratif</strong> et une méthodologie <strong>itérative</strong>, nous co-construisons des solutions qui font sens, en plaçant <strong>vos utilisateurs</strong> et <strong>vos ambitions</strong> au centre de chaque décision.</p>
                <p>Basés en <strong>France</strong>, nous combinons créativité, pragmatisme et technologies innovantes pour <strong>relever vos défis</strong> avec engagement et sincérité.</p>
                <a href="{{ path('values') }}" class="link link--brand">En savoir plus</a>
        </section>

<section class="illustrated-section" data-aos="fade-left">
    <div class="illustrated-section__content">
        <h2 class="h2--dash">Ce qu'on fait chez Elao</h2>
        <p>Elao est votre <strong>partenaire facilitateur</strong> à votre écoute sur toutes les étapes de votre projet. Que vous soyez <strong>novice</strong> ou <strong>expérimenté</strong> dans la réalisation de projets web,  nous vous accompagnons en vous <strong>transmettant notre culture projet et nos bonnes pratiques</strong></p>
        <ul class="services-home">
            <li class="services-home__card">
                <i class="icon icon--bulb"></i>
                <h3>Concevoir : comprendre et conseiller</h3>
                <p>Pour garantir le succès de votre projet, nous commençons par une phase essentielle de compréhension et de définition de la solution.</p>
                <ul>
                    <li>Cadrage du sujet et analyse des besoins métier</li>
                    <li>Ateliers collaboratifs (UX, fonctionnel et technique)</li>
                    <li>Définition de l'architecture technique et des choix technologiques</li>
                    <li>Estimation des ressources et du budget</li>
                    <li>Construction de la roadmap projet</li>
                </ul>
                <a href="{{ path('consulting') }}" class="link link--brand">En savoir plus</a>
            </li>
            
            <li class="services-home__card">
                <i class="icon icon--code"></i>
                <h3>Construire : développer et mettre en ligne</h3>
                <p>Une méthode itérative et des solutions techniques qui s'adaptent à vous et votre écosystème pour développer des applications performantes et évolutives.</p>
                <ul>
                    <li>Développement d'applications web et mobiles sur-mesure</li>
                    <li>Intégration avec vos systèmes existants (API & connecteurs)</li>
                    <li>Déploiement et mise en production sécurisée</li>
                    <li>Tests et qualité du code</li>
                    <li>Accessibilité et performance des applications</li>
                </ul>
                <a href="{{ path('application') }}" class="link link--brand">En savoir plus</a>
            </li>

            <li class="services-home__card">
                <i class="icon icon--hosting"></i>
                <h3>Optimiser : consolider et évoluer</h3>
                <p>Un accompagnement proactif pour assurer la pérennité et l'évolution de vos solutions, avec un suivi régulier et une maintenance préventive.</p>
                <ul>
                    <li>Supervision et monitoring des applications</li>
                    <li>Maintenance préventive et corrective</li>
                    <li>Optimisation continue des performances</li>
                    <li>Accompagnement des utilisateurs</li>
                    <li>Évolutions fonctionnelles et techniques</li>
                </ul>
                <a href="{{ path('hosting') }}" class="link link--brand">En savoir plus</a>
            </li>

            <li class="services-home__card">
                <i class="icon icon--ia"></i>
                <h3>Inspirer : valoriser et innover</h3>
                <p>Nous mettons notre expertise technique et notre expérience métier au service de votre projet pour le faire grandir et innover ensemble.</p>
                <ul>
                    <li>Intégration de solutions innovantes (IA, chatbot, automatisation)</li>
                    <li>Exploitation et valorisation de vos données</li>
                    <li>Développements en open source pour plus de transparence</li>
                    <li>Veille technologique et R&D appliquée à vos besoins</li>
                    <li>Co-construction des évolutions futures</li>
                </ul>
                <a href="{{ path('ia') }}" class="link link--brand">En savoir plus</a>
            </li>
        </ul>
    </div>
</section>








        <section class="illustrated-section" data-aos="fade-right">
            <div class="illustrated-section__content">
                <h2 class="h2--dash">Une démarche claire pour sécuriser et réussir votre projet</h2>
                <div class="section__techno">
                    <p>Chez Elao, nous nous engageons à vous accompagner avec <strong>transparence</strong> et <strong>expertise</strong>, pour que vous puissiez prendre les <strong>meilleures décisions</strong> tout au long de votre projet. Ensemble, nous construisons des solutions sur-mesure dans un esprit de collaboration et de plaisir partagé.</p>
                    <ul>
                        <li><strong>Une expertise technique et fonctionnelle reconnues</strong>: Forte de 20 ans d'expérience, notre équipe basée à Lyon maîtrise des technologies clés comme Symfony, React et l’intégration d’API, pour développer des solutions robustes et adaptées à vos besoins.</li>
                        </ul>
                        <ul>
                            <li><strong>Une collaboration directe et efficace pour sécuriser le budget</strong>: Sans intermédiaires, nos développeurs et facilitateurs travaillent main dans la main avec vous à chaque étape, pour garantir un suivi fluide et un budget optimisé.</li>
                        </ul>
                        <ul>
                            <li><strong>Une méthode agile et flexible</strong>: Notre approche itérative s’ajuste à votre rythme, vos contraintes et les évolutions de votre activité, pour vous offrir une réactivité et une efficacité maximales.</li>
                        </ul>
                        <ul>
                            <li><strong>Une transparence totale pour avancer en toute confiance</strong>:  Chez nous la tech n'est pas une boite noire. Avec des informations claires sur le planning, le budget et l’avancement, nous vous donnons les clés pour piloter votre projet avec sérénité et confiance.</li>
                     </ul>
                     <a href="{{ path('approach') }}" class="link link--brand">En savoir plus</a>
                </div>
        </section>


        <section class="illustrated-section" data-aos="fade-right">
            <div class="illustrated-section__content">
                <h2 class="h2--dash">Ce qu’on en dit </h2>
                <div class="section__techno">
                    <blockquote class="blockquote-secondary">
                        <p>Ils ont une méthode folle ! Et ils captent tout. Je n’ai jamais eu autant de facilité à communiquer et comprendre qu’ils avaient tout compris : Evelyne Tiev</p>
                    </blockquote>
                    {# <blockquote class="blockquote-secondary">
                        <p>Plonger dans le sujet même complexe pour en maîtriser les tenants et aboutissants pour produire un outil qui correspondait aux besoins : Sébastien Maimon - Gaillard </p>
                    </blockquote>
                    <blockquote class="blockquote-secondary">
                        <p>Quand il y avait une problématique, il y avait toujours des solutions proposées : Stéphane Misse – Groupe Efire</p>
                    </blockquote>
                    <blockquote class="blockquote-secondary">
                        <p>On conçoit ensemble l’outil, on s’appuie sur leur expertise, c’est vraiment un partenaire : Tatiana Lanchec - Myjobcompany</p>
                    </blockquote> #}
                </div>
            </div>
        </section>
        <section class="illustrated-section" data-aos="fade-left">
            <div class="illustrated-section__content">
                <h2 class="h2--dash">Nos dernières actus</h2>
                <p>Nous attachons une grande importance à <strong>partager, redistribuer et favoriser</strong> la vitalité de notre <strong>écosystème</strong>. C'est la raison pour laquelle nous apprécions prendre part à des conférences et diffuser des articles liés à notre domaine d'expertise.</p>
                <ul class="last-articles">
                    {% for article in lastTwoArticles %}
                    <li class="last-article">
                        <a href="{{ path('blog_article', { article: article.slug }) }}" class="last-article__image" data-aos="fade-down">
                            <span
                                class="image"
                                style="{{ macros.backgroundImageSrcset(article.thumbnail, 'article_thumbnail.md', null, article.thumbnailResizeOptions) }}"
                            ></span>
                        </a>
                        <div class="last-article__content" data-aos="zoom-in">
                            <div class="info">
                                <span>{{ article.date|format_datetime('short', 'none', locale='fr') }}</span>
                                {% block tags %}
                                    <ul class="tag-list">
                                        {% for tag in article.tags %}
                                            <li class="tag-list__item">
                                                <a href="{{ path('blog_tag', { tag: tag }) }}" rel="nofollow">
                                                    #{{ tag|u.camel.title }}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endblock %}
                            </div>
                            <h3>
                                <a class="title" href="{{ path('blog_article', { article: article.slug }) }}">
                                    {{ article.title }}
                                </a>
                            </h3>
                            <a href="{{ path('blog_article', { article: article.slug }) }}" class="link link--brand">Lire l'article</a>
                        </div>
                    </li>
                    {% endfor %}

                    <a href="{{ path('blog') }}" class="btn btn--secondary btn--animated">
                    <span>
                        Voir le blog
                        {% include 'partials/svg-arrow.html.twig' %}
                    </span>
                    </a>
                </ul>
            </div>
        </section>
        <section class="illustrated-section" data-aos="fade-left">
            <div class="illustrated-section__content">
                <h2 class="h2--dash">Nos derniers projets</h2>
                <p>Ce que l'on aime chez Elao ? Contribuer à des <strong>projets vertueux, utiles</strong> à notre société. Nous sommes animés et ressentons la responsabilité de faire émerger, grandir, des projets ayant des valeurs communes aux nôtres.</p>
                <ul class="last-projects">
                    {% for caseStudy in lastThreeCaseStudies %}
                    <li class="last-project">
                        <a href="{{ path('case_study', { caseStudy: caseStudy.slug }) }}" class="last-project__image">
                            <span class="image" style="{{ macros.backgroundImageSrcset(caseStudy.images|first, 'case_study_thumbnail.md') }}"></span>
                        </a>
                        <div class="last-project__content">
                            <h3>{{ caseStudy.title }}</h3>
                            <p>{{ caseStudy.description }}</p>
                            <a href="{{ path('case_study', { caseStudy: caseStudy.slug }) }}" class="btn btn--secondary btn--animated">
                                <span>
                                    Découvrir le projet
                                    {% include 'partials/svg-arrow.html.twig' %}
                                </span>
                            </a>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </section>

        <section class="illustrated-section" data-aos="fade-right">
            <div class="illustrated-section__content">
                <h2 class="h2--dash">Nos clients et partenaires de confiance</h2>
                <div class="partners">
                    <img src="{{ asset('build/images/partners/bien-fonde.svg') }}" alt="logo Bien Fondé">
                    <img src="{{ asset('build/images/partners/efire.svg') }}" alt="logo Efire">
                    <img src="{{ asset('build/images/partners/jetpulp.svg') }}" alt="logo Jetpulp">
                    <img src="{{ asset('build/images/partners/mjc.svg') }}" alt="logo My Job Company">
                    <img src="{{ asset('build/images/partners/musique-music.svg') }}" alt="logo Musique & Music">
                    <img src="{{ asset('build/images/partners/onisep.svg') }}" alt="logo Onisep">
                    <img src="{{ asset('build/images/partners/panneau-pocket.svg') }}" alt="logo Panneau Pocket">
                    <img src="{{ asset('build/images/partners/bedrock.svg') }}" alt="logo Bedrock">
                    <img src="{{ asset('build/images/partners/rix.svg') }}" alt="logo Rix">
                    <img src="{{ asset('build/images/partners/inria.svg') }}" alt="logo Inria">
                    <img src="{{ asset('build/images/partners/engie.svg') }}" alt="logo Engie">
                    <img src="{{ asset('build/images/partners/sensiolabs.svg') }}" alt="logo SensioLabs">
                    <img src="{{ asset('build/images/partners/la-cuisine-du-web.svg') }}" alt="logo La Cuisine du Web">
                    <img src="{{ asset('build/images/partners/afup.svg') }}" alt="logo AFUP">
                    <img src="{{ asset('build/images/partners/digital-league.svg') }}" alt="logo Digital League">
                    <img src="{{ asset('build/images/partners/seb.svg') }}" alt="logo Seb">
                </div>
            </div>
        </section>


        <div class="bricks">
            <a href="{{ path('contact') }}" class="brick-send-message" data-aos="zoom-in-down">
                <h3 class="title">Vous souhaitez nous en dire plus sur vos idées, trouver un partenaire expert pour vous accompagner dans la conception et le développement de votre projet ?</h3>
                <span class="animation">
                    {% include 'partials/svg-letter.html.twig' %}
                    <span>Échangeons !</span>
                </span>
            </a>
        </div>
    </div>
{% endblock %}
