{% import "macros.html.twig" as macros %}
{% extends 'base.html.twig' %}

{% set interval = date('now').diff(date(site.birthdate)) %}
{% block meta_title "Création et développement d'applications web et mobile sur-mesure à Lyon" %}
{% block meta_description "Nous sommes un atelier de co-conception d’applications web et mobiles sur-mesure, animé depuis plus de %d ans par des expert·e·s passionné·e·s | Elao"|format(interval.y) %}

{% block meta %}
    {{ parent() }}
{% endblock %}

{% block structured_data %}
    {% autoescape false %}
    <script type="application/ld+json">
        {{- {
            '@context': 'https://schema.org',
            '@type': 'Organization',
            'name': site.title|trim('_'),
            'slogan': site.slogan,
            'url': url('homepage'),
            'logo': url('homepage')~'images/corpo/logo.svg',
            'address': {
                '@type': 'PostalAddress',
                'streetAddress': site.contact.address.street_address,
                'postalCode': site.contact.address.address_postalCode,
                'addressLocality': site.contact.address.address_locality,
                'addressRegion': site.contact.address.address_region,
                'addressCountry': site.contact.address.address_country,
            },
            'email': site.contact.email,
            'telephone': site.contact.phone,
        }|json_encode(
            constant('JSON_PRETTY_PRINT') b-or
            constant('JSON_UNESCAPED_SLASHES') b-or
            constant('JSON_UNESCAPED_UNICODE')
        ) }}
    </script>
    {% endautoescape %}
{% endblock %}

{% block content %}
    <div class="page-home container">
        <div class="banner-home">
            <span class="banner-home__title" data-aos="fade-right">
                elao
                <span>développe</span>
                <span>de la valeur</span>
            </span>
            <div class="banner-home__content" data-aos="zoom-in">
                <h1>{{ site.description }}</h1>
            </div>
            <div class="banner-home__image" data-aos="fade-left">
                <figure>
                    <div class="image" style="background: url('{{asset('build/images/pages/home/home-banner.jpg') }}')"></div>
                </figure>
            </div>
            <ul class="banner-home__list">
                {% with { duration: 600, delayGap: 200, delay: 0 } %}
                <li data-aos="fade-in" data-aos-duration="{{ duration }}" data-aos-delay="{{ delay }}">
                    <a href="{{ path('services') }}" class="item">
                        <span class="number">{{ interval.y }}</span>
                        ans d'expérience
                        <small>(et d'expérimentations)</small>
                        <span class="item__link">
                        Nos services
                        <i class="icon icon--arrow" aria-hidden="true"></i>
                    </span>
                    </a>
                </li>
                {% set delay = delay + delayGap %}
                <li data-aos="fade-in" data-aos-duration="{{ duration }}" data-aos-delay="{{ delay }}">
                    <a href="{{ path('case_studies') }}" class="item">
                        <span class="number">200+</span>
                        projets
                        <span class="item__link">
                        Nos études de cas
                        <i class="icon icon--arrow" aria-hidden="true"></i>
                    </span>
                    </a>
                </li>
                {% set delay = delay + delayGap %}
                <li data-aos="fade-in" data-aos-duration="{{ duration }}" data-aos-delay="{{ delay }}">
                    <a href="{{ path('team') }}" class="item">
                        <span class="number">{{ membersCount }}</span>
                        expert·e·s passionné·e·s
                        <span class="item__link">
                            La team elao
                            <i class="icon icon--arrow" aria-hidden="true"></i>
                        </span>
                    </a>
                </li>
                {% endwith %}
            </ul>
        </div>

        {# <section class="illustrated-section" data-aos="fade-left">
            <div class="illustrated-section__content">
                {% include 'partials/ia-brief.html.twig' %}
            </div>
        </section> #}

        {# <section class="illustrated-section" data-aos="fade-right">
            <div class="illustrated-section__content">
                <div class="quote-home">
                    <picture data-aos="fade-left">
                        <source
                            type="image/webp"
                            srcset="{{ asset('build/images/pages/home/coding.webp') }} 1x,
                                {{ asset('build/images/pages/home/coding@2x.webp') }} 2x"
                        >
                        <source
                            type="image/jpeg"
                            srcset="{{ asset('build/images/pages/home/coding.jpg') }} 1x,
                                {{ asset('build/images/pages/home/coding@2x.jpg') }} 2x"
                        >
                        <img class="quote-home__img" src="{{ asset('build/images/pages/home/coding.jpg') }}" alt="" />
                    </picture>
                    <blockquote class="quote-home__blockquote" data-aos="zoom-in">Conseiller et concevoir des applications web sur-mesure, animé par des experts passionnés.</blockquote>
                </div>
            </div>
        </section> #}
-

        <section class="illustrated-section" data-aos="fade-left">
            <div class="illustrated-section__content">
                <h2 class="h2--dash">Elao, votre partenaire numérique sur-mesure</h2>
                <p>Depuis 20 ans, nous aidons plus de 200 clients à gagner du temps, optimiser leurs processus et développer leur activité. Nos solutions ? Des applications web et mobiles sur-mesure, fiables et performantes, pensées pour répondre précisément aux besoins de votre métier. Chez Elao, chaque projet est une aventure commune, portée par une vraie compréhension de vos enjeux.</p>

                <h2 >Une équipe à l’écoute et accessible</h2>
                <p>Que vous soyez ou non expert en tech, notre équipe passionnée parle votre langage. Sans jargon, sans chichi, nous prenons plaisir à nous immerger dans vos problématiques pour mieux les comprendre et co-construire avec vous des projets uniques et adaptés. La collaboration et l’échange sont au cœur de notre méthode. 
</p>
 

                <h2 >Une expertise agile et innovante</h2>
                <p>Basée en France, notre équipe à taille humaine (environ 20 personnes) cultive un esprit agile et une forte curiosité pour les technologies de demain. Toujours à la pointe, nous travaillons avec sérieux mais sans oublier le plaisir, que ce soit dans nos projets ou avec nos clients. Ensemble, nous relevons vos défis et construisons l’avenir.</p>
 
        </section>

<section class="illustrated-section" data-aos="fade-left">
    <div class="illustrated-section__content">
        <h2 class="h2--dash">Ce qu'on fait chez Elao</h2>
        <ul class="services-home">
            <li class="services-home__card">
                <i class="icon icon--code"></i>
                <h3>Concevoir : comprendre et conseiller</h3>
                <p>Pour garantir le succès de votre projet, nous commençons par une phase essentielle de compréhension et de définition de la solution.</p>
                <ul>
                    <li>Cadrage du sujet et analyse des besoins métier</li>
                    <li>Ateliers collaboratifs (UX, fonctionnel et technique)</li>
                    <li>Définition de l'architecture technique et des choix technologiques</li>
                    <li>Estimation des ressources et du budget</li>
                    <li>Construction de la roadmap projet</li>
                </ul>
                <a href="{{ path('application') }}" class="link link--brand">En savoir plus</a>
            </li>
            
            <li class="services-home__card">
                <i class="icon icon--bulb"></i>
                <h3>Construire : développer et mettre en ligne</h3>
                <p>Une méthode itérative et des solutions techniques qui s'adaptent à vous et votre écosystème pour développer des applications performantes et évolutives.</p>
                <ul>
                    <li>Développement d'applications web et mobiles sur-mesure</li>
                    <li>Intégration avec vos systèmes existants (API & connecteurs)</li>
                    <li>Déploiement et mise en production sécurisée</li>
                    <li>Tests et qualité du code</li>
                    <li>Accessibilité et performance des applications</li>
                </ul>
                <a href="{{ path('consulting') }}" class="link link--brand">En savoir plus</a>
            </li>

            <li class="services-home__card">
                <i class="icon icon--hosting"></i>
                <h3>Optimiser : consolider et évoluer</h3>
                <p>Un accompagnement proactif pour assurer la pérennité et l'évolution de vos solutions, avec un suivi régulier et une maintenance préventive.</p>
                <ul>
                    <li>Supervision et monitoring des applications</li>
                    <li>Maintenance préventive et corrective</li>
                    <li>Optimisation continue des performances</li>
                    <li>Accompagnement des utilisateurs</li>
                    <li>Évolutions fonctionnelles et techniques</li>
                </ul>
                <a href="{{ path('hosting') }}" class="link link--brand">En savoir plus</a>
            </li>

            <li class="services-home__card">
                <i class="icon icon--ia"></i>
                <h3>Inspirer : valoriser et innover</h3>
                <p>Nous mettons notre expertise technique et notre expérience métier au service de votre projet pour le faire grandir et innover ensemble.</p>
                <ul>
                    <li>Intégration de solutions innovantes (IA, chatbot, automatisation)</li>
                    <li>Exploitation et valorisation de vos données</li>
                    <li>Développements en open source pour plus de transparence</li>
                    <li>Veille technologique et R&D appliquée à vos besoins</li>
                    <li>Co-construction des évolutions futures</li>
                </ul>
                <a href="{{ path('ia') }}" class="link link--brand">En savoir plus</a>
            </li>
        </ul>
    </div>
</section>








        <section class="illustrated-section" data-aos="fade-right">
            <div class="illustrated-section__content">
                <h2 class="h2--dash">Comment on le fait</h2>
                <div class="section__techno">
                    <p>En tant que partenaire, notre engagement, c’est vous donner toutes les informations pour que vous puissiez prendre les bonnes décisions tout au long du projet. 
C’est aussi prendre plaisir à construire ensemble des solutions pour vous !</p>
                    <ul>
                        <li><strong>Une expertise technique et une expérience fonctionnelle reconnues</strong>: cela fait 20 ans que nous travaillons avec Symfony, React et sur l’intégration d'API. Notre équipe se compose d’une dizaine de développeurs (et facilitateurs) seniors, tous basés en France (Lyon).</li>
                    </ul>
                    <ul>
                        <li><strong>Une approche collaborative unique pour gagner du temps et optimiser le budget</strong> chez nous, pas de chef de projet ni d’intermédiaire, mais un facilitateur garant du bon déroulement de notre accompagnement et une petite équipe de développeurs qui intervient à toutes les étapes du projet et qui seront vos interlocuteurs privilégiés. La communication entre vous et nous est ainsi facilitée ! </li>
                    </ul>
                    <ul>
                        <li><strong>Une méthode agile itérative pour plus de flexibilité et d’efficacité</strong>: car il est important que nous puissions nous adapter à votre rythme, vos activités, aux changements au sein de votre entreprise...</li>
                    </ul>
                    <ul>
                        <li><strong>Une transparence complète pour avancer en toute confiance</strong>: chez nous, la tech communique et est limpide ! Vous fixez les priorités du projet et nous vous fournissons toutes les infos (temps, estimation de budget, planning, avancement des étapes) afin que vous puissiez le piloter selon vos besoins et vos objectifs.</li>
                    </ul>
                </div>
            </div>
        </section>


        <section class="illustrated-section" data-aos="fade-right">
            <div class="illustrated-section__content">
                <h2 class="h2--dash">Ce qu’on en dit </h2>
                <div class="section__techno">
                    <blockquote class="blockquote-secondary">
                        <p>Ils ont une méthode folle ! Et ils captent tout. Je n’ai jamais eu autant de facilité à communiquer et comprendre qu’ils avaient tout compris : Evelyne Tiev</p>
                    </blockquote>
                    <blockquote class="blockquote-secondary">
                        <p>Plonger dans le sujet même complexe pour en maîtriser les tenants et aboutissants pour produire un outil qui correspondait aux besoins : Sébastien Maimon - Gaillard </p>
                    </blockquote>
                    <blockquote class="blockquote-secondary">
                        <p>Quand il y avait une problématique, il y avait toujours des solutions proposées : Stéphane Misse – Groupe Efire</p>
                    </blockquote>
                    <blockquote class="blockquote-secondary">
                        <p>On conçoit ensemble l’outil, on s’appuie sur leur expertise, c’est vraiment un partenaire : Tatiana Lanchec - Myjobcompany</p>
                    </blockquote>
                </div>
            </div>
        </section>
        <section class="illustrated-section" data-aos="fade-left">
            <div class="illustrated-section__content">
                <h2 class="h2--dash">Nos dernières actus</h2>
                <p>Nous attachons une grande importance à <strong>partager, redistribuer et favoriser</strong> la vitalité de notre <strong>écosystème</strong>. C'est la raison pour laquelle nous apprécions prendre part à des conférences et diffuser des articles liés à notre domaine d'expertise.</p>
                <ul class="last-articles">
                    {% for article in lastTwoArticles %}
                    <li class="last-article">
                        <a href="{{ path('blog_article', { article: article.slug }) }}" class="last-article__image" data-aos="fade-down">
                            <span
                                class="image"
                                style="{{ macros.backgroundImageSrcset(article.thumbnail, 'article_thumbnail.md', null, article.thumbnailResizeOptions) }}"
                            ></span>
                        </a>
                        <div class="last-article__content" data-aos="zoom-in">
                            <div class="info">
                                <span>{{ article.date|format_datetime('short', 'none', locale='fr') }}</span>
                                {% block tags %}
                                    <ul class="tag-list">
                                        {% for tag in article.tags %}
                                            <li class="tag-list__item">
                                                <a href="{{ path('blog_tag', { tag: tag }) }}" rel="nofollow">
                                                    #{{ tag|u.camel.title }}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endblock %}
                            </div>
                            <h3>
                                <a class="title" href="{{ path('blog_article', { article: article.slug }) }}">
                                    {{ article.title }}
                                </a>
                            </h3>
                            <a href="{{ path('blog_article', { article: article.slug }) }}" class="link link--brand">Lire l'article</a>
                        </div>
                    </li>
                    {% endfor %}

                    <a href="{{ path('blog') }}" class="btn btn--secondary btn--animated">
                    <span>
                        Voir le blog
                        {% include 'partials/svg-arrow.html.twig' %}
                    </span>
                    </a>
                </ul>
            </div>
        </section>
        <section class="illustrated-section" data-aos="fade-left">
            <div class="illustrated-section__content">
                <h2 class="h2--dash">Nos derniers projets</h2>
                <p>Ce que l'on aime chez Elao ? Contribuer à des <strong>projets vertueux, utiles</strong> à notre société. Nous sommes animés et ressentons la responsabilité de faire émerger, grandir, des projets ayant des valeurs communes aux nôtres.</p>
                <ul class="last-projects">
                    {% for caseStudy in lastThreeCaseStudies %}
                    <li class="last-project">
                        <a href="{{ path('case_study', { caseStudy: caseStudy.slug }) }}" class="last-project__image">
                            <span class="image" style="{{ macros.backgroundImageSrcset(caseStudy.images|first, 'case_study_thumbnail.md') }}"></span>
                        </a>
                        <div class="last-project__content">
                            <h3>{{ caseStudy.title }}</h3>
                            <p>{{ caseStudy.description }}</p>
                            <a href="{{ path('case_study', { caseStudy: caseStudy.slug }) }}" class="btn btn--secondary btn--animated">
                                <span>
                                    Découvrir le projet
                                    {% include 'partials/svg-arrow.html.twig' %}
                                </span>
                            </a>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </section>

        <section class="illustrated-section" data-aos="fade-right">
            <div class="illustrated-section__content">
                <h2 class="h2--dash">Nos clients et partenaires de confiance</h2>
                <div class="partners">
                    <img src="{{ asset('build/images/partners/bien-fonde.svg') }}" alt="logo Bien Fondé">
                    <img src="{{ asset('build/images/partners/efire.svg') }}" alt="logo Efire">
                    <img src="{{ asset('build/images/partners/jetpulp.svg') }}" alt="logo Jetpulp">
                    <img src="{{ asset('build/images/partners/mjc.svg') }}" alt="logo My Job Company">
                    <img src="{{ asset('build/images/partners/musique-music.svg') }}" alt="logo Musique & Music">
                    <img src="{{ asset('build/images/partners/onisep.svg') }}" alt="logo Onisep">
                    <img src="{{ asset('build/images/partners/panneau-pocket.svg') }}" alt="logo Panneau Pocket">
                    <img src="{{ asset('build/images/partners/bedrock.svg') }}" alt="logo Bedrock">
                    <img src="{{ asset('build/images/partners/rix.svg') }}" alt="logo Rix">
                    <img src="{{ asset('build/images/partners/inria.svg') }}" alt="logo Inria">
                    <img src="{{ asset('build/images/partners/engie.svg') }}" alt="logo Engie">
                    <img src="{{ asset('build/images/partners/sensiolabs.svg') }}" alt="logo SensioLabs">
                    <img src="{{ asset('build/images/partners/la-cuisine-du-web.svg') }}" alt="logo La Cuisine du Web">
                    <img src="{{ asset('build/images/partners/afup.svg') }}" alt="logo AFUP">
                    <img src="{{ asset('build/images/partners/digital-league.svg') }}" alt="logo Digital League">
                    <img src="{{ asset('build/images/partners/seb.svg') }}" alt="logo Seb">
                </div>
            </div>
        </section>


        <div class="bricks">
            <a href="{{ path('contact') }}" class="brick-send-message" data-aos="zoom-in-down">
                <h3 class="title">Vous souhaitez nous en dire plus sur vos idées, trouver un partenaire expert pour vous accompagner dans la conception et le développement de votre projet ?</h3>
                <span class="animation">
                    {% include 'partials/svg-letter.html.twig' %}
                    <span>Échangeons !</span>
                </span>
            </a>
        </div>
    </div>
{% endblock %}
