{% extends 'base.html.twig' %}

{% block content %}
    <div class="page-home">
        <h1>
            elao
            <span>développe</span>
            <span>du lien</span>
        </h1>

        <div class="banner">
            <div class="banner__content">
                <p>Elao est un atelier de co-conception d'applications web et mobile sur mesure</p>
            </div>
            <div class="banner__image">
                <figure>
                    <img src="https://as2.ftcdn.net/jpg/02/94/55/87/500_F_294558791_Hb7lQE8IHJiAC6nxiIAcAr7gVRkl4fzC.jpg" alt="salarié de tribu" height="335px" width="510px">
                    <figcaption>
                        <span>Tribü</span>
                        Solution de déchets en entreprise
                    </figcaption>
                </figure>
                <a href="#" class="btn btn--secondary btn--animated">
                    <span>
                        Découvrir le projet
                        <svg class="icon" xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="0 0 40 20">
                            <path class="tip" d="M21,2.7 28.2,10.3 21,17.4"/>
                            <path class="base" d="M28.2,10.3c-0.1,0-18.3,0-27.8,0"/>
                        </svg>
                    </span>
                </a>
            </div>
            <ul class="banner__list">
                <li>
                    <span class="number">15</span>
                    ans d'expérience
                    <small>(et d'expérimentations)</small>
                </li>
                <li>
                    <span class="number">15</span>
                    expert·e·s passionné·e·s
                    <a href="#">
                        La tribu elao
                        <i class="icon icon--arrow" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <span class="number">200+</span>
                    projets
                    <a href="#">
                        Nos études de cas
                        <i class="icon icon--arrow" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>

        <section class="section">
            <div class="section__content">
                <h2>Mettre ensemble l'énergie là où elle a le plus de valeur</h2>
                <p>Nous ne croyons plus aux cahiers des charges figés de 200 pages, mais à l'émulation des ateliers et à l'implication des utilisateurs finaux pour itérer ensemble afin de trouver la meilleure solution.</p>
                <a href="" class="btn btn--tertiary btn--animated">
                    <span>
                        Notre méthodologie
                        <svg class="icon" xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="0 0 40 20">
                            <path class="tip" d="M21,2.7 28.2,10.3 21,17.4"/>
                            <path class="base" d="M28.2,10.3c-0.1,0-18.3,0-27.8,0"/>
                        </svg>
                    </span>
                </a>
            </div>
            <div class="section__image">
                <img height="490px" src="https://as1.ftcdn.net/jpg/03/00/14/40/500_F_300144034_PAklMYoG9ozMzMeEwEcCSCcKCQq4M0Qc.jpg" alt="">
                <i class="icon icon--chevrons" aria-hidden="true"></i>
            </div>
        </section>

        <section class="section section--reverse">
            <div class="section__image">
                <img height="490px" src="https://as1.ftcdn.net/jpg/03/16/50/30/500_F_316503002_8y2iZ5pAuH1dP1SAeVWkA95B1F90SJLQ.jpg" alt="">
                <i class="icon icon--brackets aria-hidden="true""></i>
            </div>
            <div class="section__content">
                <h2>Contribuer à des projets vertueux, utiles à notre société</h2>
                <p>Nous pensons que notre responsabilité est de faire émerger et grandir en ayant des valeurs communes.</p>
                <a href="" class="btn btn--tertiary btn--animated">
                    <span>
                        Nos études de cas
                        <svg class="icon" xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="0 0 40 20">
                            <path class="tip" d="M21,2.7 28.2,10.3 21,17.4"/>
                            <path class="base" d="M28.2,10.3c-0.1,0-18.3,0-27.8,0"/>
                        </svg>
                    </span>
                </a>
            </div>
        </section>

        <section class="section">
            <div class="section__content">
                <h2>Partager, redistribuer et faire vivre l'écosystème</h2>
                <p>Nos clients nous permettent de redonner un peu de ce que l'on prend chaque jour à l'écosystème web et open source, qui nous ont élevé à un très haut niveau d'expertise.</p>
                <a href="" class="btn btn--tertiary btn--animated">
                    <span>
                        Nos billets de blog
                        <svg class="icon" xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="0 0 40 20">
                            <path class="tip" d="M21,2.7 28.2,10.3 21,17.4"/>
                            <path class="base" d="M28.2,10.3c-0.1,0-18.3,0-27.8,0"/>
                        </svg>
                    </span>
                </a>
            </div>
            <div class="section__image">
                <img height="490px" src="https://as1.ftcdn.net/jpg/03/00/14/40/500_F_300144034_PAklMYoG9ozMzMeEwEcCSCcKCQq4M0Qc.jpg" alt="">
                <i class="icon icon--chevrons" aria-hidden="true"></i>
            </div>
        </section>

        <section class="section section--reverse">
            <div class="section__image">
                <img height="490px" src="https://as1.ftcdn.net/jpg/02/72/28/92/500_F_272289224_5Vyt87F9zqU5Zga3yZYCsPWtjxiBDwt8.jpg" alt="">
                <i class="icon icon--square-brackets" aria-hidden="true"></i>
            </div>
            <div class="section__content">
                <h2>Faire des choix pérennes et pragmatiques</h2>
                <p>Nous faisons le choix de technologies éprouvées, reconnues et maintenables, vous garantissant les solutions les plus qualitatives, robustes, et évolutives possibles en mettant au service de votre projet notre expertise technique. Nous laissons nos projets comme on aimerait les trouver.</p>
                <ul class="technologies">
                    <li class="technologies__item">
                        <img src="{{ asset('build/images/technos/symfony.svg') }}" alt="logo Symfony">
                        Symfony
                    </li>
                    <li class="technologies__item">
                        <img src="{{ asset('build/images/technos/vue.svg') }}" alt="logo Vue.js">
                        Vue.js
                    </li>
                    <li class="technologies__item">
                        <img src="{{ asset('build/images/technos/react.svg') }}" alt="logo React">
                        React
                    </li>
                    <li class="technologies__item">
                        <img src="{{ asset('build/images/technos/react.svg') }}" alt="logo React Native">
                        React native
                    </li>
                </ul>
            </div>
        </section>

        <section class="bricks">
            <div class="brick brick--tagline">
                <p>Et surtout...</p>
                <h3 class="title">Prendre du plaisir à concevoir avec vous, pour vos utilisateurs et utilisatrices</h3>
            </div>

            <div class="brick brick--address">
                <h3 class="title">Venir nous voir</h3>
                <p class="address">
                    <i class="icon icon--location"></i>
                    <span class="address__content">
                        <span>34 rue Jean Broquin</span>
                        <span>69006 Lyon</span>
                    </span>
                </p>
            </div>

            <div class="brick brick--contact">
                <h3 class="title">Nous contacter</h3>
                <p>
                    <i class="icon icon--phone"></i>
                    +33 (0)4 82 53 37 19
                </p>
                <p>
                    <i class="icon icon--write"></i>
                    lyon@elao.com
                </p>
            </div>

            <a href="#" class="brick brick--team">
                <img src="{{ asset('build/images/tipi.svg') }}" alt="">
                <h3 class="title">Rejoindre la tribu</h3>
                <span class="subtitle">3 offres</span>
            </a>
        </section>
    </div>
{% endblock %}
