{% extends 'base.html.twig' %}

{% block content %}
    <ul class="breadcrumb">
        <li class="breadcrumb__item">
          <a href="{{ path('homepage') }}">Accueil</a>
        </li>
        <li class="breadcrumb__item">
          Notre méthodologie
        </li>
    </ul>

    <div class="banner-methodology">
        <div class="banner-methodology__title">
            <h1>Découvrez <span>notre méthodologie</span></h1>
        </div>
        <div class="banner-methodology__content">
            <div class="info">
                <p>Elao est avant tout une équipe de concepteurs / développeurs seniors. Un projet est généralement composé d’une équipe technique dédiée de 2 ou 3 personnes sur 3 à 6 mois.</p>
                <p>Notre particularité : <strong>pas de chef de projet.</strong> Ce sont les développeurs qui seront vos contacts privilégiés et qui auront à cœur d’être réactifs et proactifs concernant vos besoins. Les facilitateurs de l’équipe sont là pour garantir une fluidité dans les échanges mais ne doivent jamais être un goulot d’étranglement dans le projet.</p>
            </div>
            <img src="{{ asset('build/images/methodology/typical-team.svg') }}" alt="Schéma d'une équipe type elao : développeur backend, développeur frontend, intégratrice, facilitateur">
        </div>
    </div>

    <div class="page-methodology">
        <h2 class="h2--dash">Les différentes étapes du projet</h2>
        <h3 class="h2--ordered">
            <span>I.</span> La phase d'avant projet
        </h3>

        <div class="offset-content">
            <p>C’est l’une des phases clés de succès de votre projet !</p>
            <p>C’est là que l’équipe fait connaissance avec votre métier, votre vision et se les approprie pour proposer les solutions fonctionnelles et techniques optimales, selon vos besoins et notre expérience de plus de 200 projets.</p>
        </div>

        <div class="banner-planning">
            <img src="https://www.fillmurray.com/1070/460" alt="">
        </div>

        <ul class="planning-steps">
            <li class="planning-steps__item">
                <h4>
                    <i class="icon icon--bulb" aria-hidden="true"></i>
                    Ateliers de compréhension
                </h4>
                <p>Des ateliers de compréhension du besoin en présence de toute l’équipe technique, aboutissant à la création du backlog (liste des fonctionnalités envisagées sur le projet) et à une première phase de priorisation fonctionnelle (découpage en itérations)</p>
            </li>
            <li class="planning-steps__item">
                <h4>
                    <i class="icon icon--note" aria-hidden="true"></i>
                    Rédactions des spécifications
                </h4>
                <p>La rédaction des spécifications, soit par le client en toute autonomie selon une trame fournie par Elao, soit par Elao, soumis à validation du client</p>
            </li>
            <li class="planning-steps__item">
                <h4>
                    <i class="icon icon--connections" aria-hidden="true"></i>
                    Outils
                </h4>
                <p>La mise en place des outils de pilotage/suivi</p>
            </li>
            <li class="planning-steps__item">
                <h4>
                    <i class="icon icon--pen-ruler" aria-hidden="true"></i>
                    Ateliers UX/UI
                </h4>
                <p>Des atelier(s) de suivi UX/UI permettant la synchronisation de toutes les parties prenantes (fonctionnel, design, développement) avec l’objectif d’avoir des maquettes cohérentes pour toute la chaîne</p>
            </li>
            <li class="planning-steps__item">
                <h4>
                    <i class="icon icon--chart" aria-hidden="true"></i>
                    Socle technique
                </h4>
                <p>La mise en place du socle technique</p>
            </li>
            <li class="planning-steps__item">
                <h4>
                    <i class="icon icon--code" aria-hidden="true"></i>
                    Estimation
                </h4>
                <p>L’estimation chiffrée la plus fine possible de chaque fonctionnalité</p>
            </li>
        </ul>

        <h3 class="h2--ordered">
            <span>II.</span> La phase de build
        </h3>
        <div class="offset-content">
            <p>Lors de la phase de build, l’équipe technique Elao allouée au client est mobilisée à 80 % de son temps sur le projet, sans autre projet en parallèle. Les 20 % restants permettent à l’équipe d’intervenir ponctuellement sur d’autres projets en phase de run, de contribuer à des projets Open Source, de s’investir dans l’écosystème web, de faire de la veille pour se tenir toujours à jour techniquement.</p>
            <p>L’équipe étant à bord depuis le tout début du projet, elle a alors une compréhension fine du projet et peut avancer de façon efficace.</p>
        </div>

        <div class="banner-steps">
            <ul class="build-steps">
                <li class="build-steps__item integration">
                    <i class="icon icon--mockup" aria-hidden="true"></i>
                    L’intégration responsive HTML/CSS
                </li>
                <li class="build-steps__item development">
                    <i class="icon icon--cog" aria-hidden="true"></i>
                    Le développement
                </li>
                <li class="build-steps__item validation">
                    <i class="icon icon--person-cog" aria-hidden="true"></i>
                    La recette fonctionnelle sur des serveurs de recette (staging)
                </li>
            </ul>
            <img src="https://www.fillmurray.com/1070/460" alt="">
        </div>

        <h3 class="h2--ordered">
            <span>III.</span> La première mise en production
        </h3>
        <div class="offset-content">
            <p>La mise en production est la “mise en ligne” de l’application à destination des utilisateurs finaux. Dès que le client considère que le périmètre fonctionnel minimal de l’application a été développé et validé, la première mise en production peut-être réalisée.</p>
            <p>Nous conseillons une mise en production le plus tôt possible pour avoir des retours d’utilisateurs au plus vite afin d’identifier les points de friction éventuels qui n’avaient pas été anticipés lors de la phase d’UX et de développement.</p>
            <p>L’idée est de multiplier les boucles de feedback (mise en prod ➜ retour utilisateur ➜ itération ➜ mise en prod) pour obtenir une expérience utilisateur robuste le plus rapidement possible.</p>
        </div>

        <h3 class="h2--ordered">
            <span>IV.</span> La phase de run
        </h3>
        <div class="offset-content">
            <p>La phase de run s’enclenche dès que le périmètre fonctionnel de la V1 a été livré. Le projet est désormais prêt à être exposé aux utilisateurs finaux.</p>
            <p>Lors de la phase de run, notre périmètre d’intervention est le suivant :</p>
        </div>

        <ul class="run">
            <li class="run__item">
                <h4>Maintenance proactive par mois</h4>
                <p>Dès que le projet est accessible aux utilisateurs, l’équipe technique sur le projet passe 1 à 2 jours par mois à faire une maintenance proactive.</p>
            </li>
            <li class="run__item">
                <h4>Analyse de vos remontées</h4>
                <p>Suivi des nouveaux tickets remontés par le client : tri, qualification de la demande (bug, évolution) et spécifications si besoin puis estimation.</p>
            </li>
            <li class="run__item">
                <h4>Amélioration continue fonctionnelle selon votre priorisation</h4>
                <p>Il est possible que la V1 n’ait pas toutes les fonctionnalités envisagées en début de projet et que vos priorités aient changé en cours de développement ou en fonction des retours utilisateurs.</p>
            </li>
        </ul>

        <div class="prioritization">
            <p>Selon votre priorisation, nous estimons le temps de développement nécessaire à chaque nouvelle fonctionnalité envisagée pour que vous puissiez prendre la décision de la faire développer ou non.</p>
            <p>Le processus de mise en ligne reste le même qu’à la phase de build :</p>
        </div>

        <ul class="process">
            <li class="process__item">Spécifications</li>
            <li class="process__item">Maquettes si nécessaire</li>
            <li class="process__item">Intégration</li>
            <li class="process__item">Développement</li>
            <li class="process__item">Recette fonctionnelle</li>
            <li class="process__item">Mise en production.</li>
        </ul>

        <h2 class="h2--dash">Estimation et time tracking</h2>
        <div class="estimate">
            <img src="https://www.fillmurray.com/400/670" alt="">
            <div>
                <p>Parce que c’est plus juste pour tout le monde, nous facturons au temps passé. Avant la phase de développement, chaque fonctionnalité est estimée en jours afin que vous puissiez vous rendre compte de son coût et arbitrer sa priorisation. Ces éléments constituent une fourchette qui peut être un peu bousculée au gré des découvertes fonctionnelles et s’affine au fur et à mesure de la compréhension des enjeux et en fonction du niveau de détail des spécifications.</p>
                <p>Chaque personne de l’équipe rentre le temps passé par projet de façon quotidienne. Par soucis de transparence, nous informons nos clients de ce temps passé le plus régulièrement possible en fonction de la phase dans laquelle nous sommes (sur la semaine ou le mois précédent) et nous proposons une facturation soit à l’itération (= lot de fonctionnalités livré), soit au mois.</p>
                <p>En phase de run, nous faisons le point régulièrement avec vous pour ajuster le contrat en fonction des besoins du projet et de votre budget.</p>
            </div>
        </div>

        <div class="tools">
            <div>
                <h2 class="h2--dash">Outils</h2>
                <p>Nous n’imposons aucune application à nos clients et nous adaptons à leurs habitudes et besoins. Cependant, nous recommandons fortement l’usage des outils suivants :</p>
            </div>
            <div class="tools__image">
                <img src="https://www.fillmurray.com/620/345" alt="">
            </div>
        </div>

        <ul class="list-inline">
            <li class="list-inline__item">
                <img src="{{ asset('build/images/tools/monday-trello.svg') }}" alt="">
                Monday ou Trello pour la gestion du projet (backlog, priorisation)
            </li>
            <li class="list-inline__item">
                <img src="{{ asset('build/images/tools/googledrive.svg') }}" alt="">
                Google Drive pour la rédaction des spécifications et tous les échanges de documents
            </li>
            <li class="list-inline__item">
                <img src="{{ asset('build/images/tools/slack.svg') }}" alt="">
                Slack pour une communication plus fluide que par mail
            </li>
            <li class="list-inline__item">
                <img src="{{ asset('build/images/tools/github.svg') }}" alt="">
                Github pour le développement et le versionning
            </li>
            <li class="list-inline__item">
                <img src="{{ asset('build/images/tools/sentry.svg') }}" alt="">
                Sentry pour le suivi des bugs
            </li>
            <li class="list-inline__item">
                <img src="{{ asset('build/images/tools/grafana.svg') }}" alt="">
                Grafana pour le monitoring de la performance de vos bases de données
            </li>
        </ul>

        <div class="our-commitments">
            <ul class="checklist checklist--right">
                <li class="checklist__title">Nos engagements</li>
                <li class="checklist__item">Concevoir un logiciel dans lequel vous avez confiance.</li>
                <li class="checklist__item">Se concentrer sur l'efficacité.</li>
                <li class="checklist__item">Nous adapter à vous, et pas l’inverse.</li>
                <li class="checklist__item">Vous donner toutes les informations pour prendre les bonnes décisions.</li>
                <li class="checklist__item">Tout faire pour que le temps passé par tous sur le projet produise le plus de valeur possible pour les utilisateurs.</li>
                <li class="checklist__item">Vous accompagner au mieux dans toutes les phases du projet.</li>
                <li class="checklist__item">Mettre l’équipe la plus cohérente possible en face des besoins de vos utilisateurs et de votre business.</li>
                <li class="checklist__item">Garantir les solutions les plus qualitatives, robustes, et évolutives possibles en mettant au service de votre projet notre expertise technique. Nous laissons nos projets comme on aimerait les trouver.</li>
                <li class="checklist__item">Entrer dans un processus itératif pour avoir du feedback utilisateur le plus tôt possible et être proactif sur les évolutions.</li>
            </ul>
        </div>

        <div class="your-commitments">
            <ul class="checklist checklist--right checklist--secondary checklist--unchecked">
                <li class="checklist__title">Vos engagements</li>
                <li class="checklist__item">Nous donner toutes les informations pour vous aider à prendre les bonnes décisions.</li>
                <li class="checklist__item">Prendre la casquette d’un Product Owner : c’est votre produit, vous devez comprendre comment définir son fonctionnement et petit à petit apprendre à piloter une équipe de développeurs. Nous vous accompagnerons bien évidemment tout au long du projet en fonction de votre niveau d’aisance.</li>
                <li class="checklist__item">Être disponible : d’expérience, une disponibilité d’au-moins un mi-temps pour nourrir l’équipe et répondre aux questions est requise en phase de build (jusqu’à la mise en ligne).</li>
            </ul>

            <div class="bricks">
                <div class="brick-developpement">
                    <p>Un projet ?</p>
                    <h3 class="title">Vous avez une application web ou mobile à développer ?</h3>
                    <a class="contact-link" href="mailto:{{ site.contact.email }}">
                        <img src="{{ asset('build/images/card.svg') }}" alt="">
                        <span>Nous envoyer un message</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
