{% import "macros.html.twig" as macros %}
{% extends 'base.html.twig' %}

{% set interval = date('now').diff(date(site.birthdate)) %}
{% block meta_title "Découvrez la démarche Elao | Elao" %}
{% block meta_description "Découvrez notre méthodologie projet et les engagements de notre collaboration | Elao"|format(interval.y) %}

{% block content %}
<div class="container">
    {{ macros.breadcrumb([
        {path: path('homepage'), label: 'Accueil'},
        {path: '#', label: 'Notre démarche'},
    ]) }}

    <div class="banner-services">
        <h1 class="banner-services__title" data-aos="fade-right">Découvrez <span>la démarche elao</span></h1>
        <div class="banner-services__content">
            <div class="image"
                 data-aos="fade-left"
                 style="background-image: {{ asset('build/images/pages/services/ia/ia-banner.jpg') }};
                     background-image: image-set(url({{ asset('build/images/pages/services/ia/ia-banner.jpg') }}) 1x,
                     url({{ asset('build/images/pages/services/ia/ia-banner@2x.jpg') }}) 2x);">
            </div>
            <span class="highlight" data-aos="zoom-in">
                <p>Allier méthodologie et engagement pour une collaboration efficace</p>
            </span>
        </div>
    </div>

    <div class="approach">
        <h2 class="h2--dash">Notre méthodologie</h2>
        <div class="illustrated-section">
            <div class="illustrated-section__content">
                <p>
                    Une <strong>équipe</strong> vous est <strong>dédiée</strong> avec des contacts privilégiées. Notre organisation rend possible un même niveau d'information pour l'ensemble de l'équipe, ce qui permet aux collaborateurs de prendre toutes les casquettes que requière votre projet. Ce fonctionnement facilite une grande <strong>réactivité et disponibilité</strong> pour avancer sur vos objectifs.
                </p>
                <p>
                    Nous vous accompagnons sur l'ensemble des phases d'un projet, de l'étape de <strong>conception</strong> jusqu'à la phase de <strong>run</strong>.
                </p>
                <a href="{{ path('methodology') }}" class="btn btn--secondary btn--animated" data-aos="fade-left">
                        <span>
                            Découvrez notre méthodologie
                            {% include 'partials/svg-arrow.html.twig' %}
                        </span>
                </a>
            </div>
            <div class="illustrated-section__image">
                <picture>
                    <source type="image/webp"
                            media="(min-width: 760px) and (max-width: 1220px)"
                            srcset="{{ asset('build/images/pages/services/hosting-responsive.webp') }}"
                    >
                    <source type="image/jpeg"
                            media="(min-width: 760px) and (max-width: 1220px)"
                            srcset="{{ asset('build/images/pages/services/hosting-responsive.jpg') }}"
                    >
                    <source
                        type="image/webp"
                        srcset="{{ asset('build/images/pages/services/hosting.webp') }} 1x,
                                    {{ asset('build/images/pages/services/hosting@2x.webp') }} 2x"
                    >
                    <source
                        type="image/jpeg"
                        srcset="{{ asset('build/images/pages/services/hosting.jpg') }} 1x,
                                    {{ asset('build/images/pages/services/hosting@2x.jpg') }} 2x"
                    >
                    <img src="{{ asset('build/images/pages/services/hosting.jpg') }}" alt=""/>
                </picture>
                <i class="icon icon--chevrons-left" aria-hidden="true"></i>
            </div>
        </div>

        <h2 class="h2--dash">Notre collaboration</h2>
        <div class="illustrated-section">
            <div class="illustrated-section__content">
                <p>
                    Une bonne <strong>collaboration</strong> sur un projet est pour nous primordiale pour atteindre l'ensemble des <strong>objectifs fixés</strong>.
                </p>
                <p>
                    Bien plus que des clients, nous voyons en vous un véritable <strong>partenaire</strong> dont la collaboration est LA clé de la réussite.
                </p>
                <a href="{{ path('collaboration') }}" class="btn btn--secondary btn--animated" data-aos="fade-left">
                        <span>
                            Découvrez notre collaboration
                            {% include 'partials/svg-arrow.html.twig' %}
                        </span>
                </a>
            </div>
            <div class="illustrated-section__image">
                <picture>
                    <source type="image/webp"
                            media="(min-width: 760px) and (max-width: 1220px)"
                            srcset="{{ asset('build/images/pages/services/consulting-responsive.webp') }}"
                    >
                    <source type="image/jpeg"
                            media="(min-width: 760px) and (max-width: 1220px)"
                            srcset="{{ asset('build/images/pages/services/consulting-responsive.jpg') }}"
                    >
                    <source
                        type="image/webp"
                        srcset="{{ asset('build/images/pages/services/consulting.webp') }} 1x,
                                    {{ asset('build/images/pages/services/consulting@2x.webp') }} 2x"
                    >
                    <source
                        type="image/jpeg"
                        srcset="{{ asset('build/images/pages/services/consulting.jpg') }} 1x,
                                    {{ asset('build/images/pages/services/consulting@2x.jpg') }} 2x"
                    >
                    <img src="{{ asset('build/images/pages/services/consulting.jpg') }}" alt=""/>
                </picture>
                <i class="icon icon--chevrons-right" aria-hidden="true"></i>
            </div>
        </div>
        <div class="bricks">
            {% include 'partials/brick-development.html.twig' %}
        </div>
    </div>
</div>
{% endblock %}
