{% import "macros.html.twig" as macros %}
{% extends 'base.html.twig' %}

{% block meta_title job.metaTitle ?? job.fullTitle %}
{% block meta_description job.metaDescription ?? job.description %}
{% block og_image absolute_url(asset(job.ogImage|glide_image_preset('opengraph_image'))) %}
{% block twitter_image absolute_url(asset(job.twitterImage|glide_image_preset('twitter_card'))) %}

{% block structured_data %}
        {% set data =
            {
                '@context': 'https://schema.org',
                '@type': 'JobPosting',
                'title': job.title[1],
                'description': job.description,
                'datePosted': job.date|date('c'),
                'employmentType': job.contractType.readable,
                'hiringOrganization' : {
                    '@type': 'Organization',
                    'name': 'Elao',
                    'sameAs': url('homepage'),
                    'logo': absolute_url(asset('images/corpo/logo.svg')),
                },
                'jobLocation': {
                '@type': 'Place',
                    'address': {
                        '@type': 'PostalAddress',
                        'streetAddress': site.contact.address.street_address,
                        'postalCode': site.contact.address.address_postalCode,
                        'addressLocality': site.contact.address.address_locality,
                        'addressRegion': site.contact.address.address_region,
                        'addressCountry': site.contact.address.address_country,
                    }
                },
                'jobStartDate': job.hiringDate ? job.hiringDate|date('c') : 'Dès que possible',
            }
        %}

        {% if job.remunerationMin is not null %}
            {% if job.remunerationMax is not null %}
                {% set salary = {
                    'baseSalary': {
                        '@type': 'MonetaryAmount',
                        'currency': 'EUR',
                        'value': {
                            '@type': 'QuantitativeValue',
                            'minValue': job.remunerationMin,
                            'maxValue': job.remunerationMax,
                            'unitText': "YEAR",
                        }
                    }
                } %}
            {% else %}
                {%  set salary = {
                    'baseSalary': {
                        '@type': 'MonetaryAmount',
                        'currency': 'EUR',
                        'value': {
                            '@type': 'QuantitativeValue',
                            'value': job.remunerationMin,
                            'unitText': 'YEAR',
                        }
                    }
                } %}
            {% endif %}
            {% set data = data|merge(salary) %}
        {% endif %}

         {% if job.formation %}
             {% set formation = {
                'qualifications' : {
                    '@type' : 'EducationalOccupationalCredential',
                    'educationalLevel' : job.formation
                }
             } %}
             {% set data = data|merge(formation) %}
        {% endif %}

        {% if job.experience %}
             {% set experience = {
                 'experienceRequirements' : {
                     '@type': 'OccupationalExperienceRequirements',
                     'monthsOfExperience': job.experienceInMonths
                 }
             } %}
             {% set data = data|merge(experience) %}
        {% endif %}

    {% autoescape false %}
        <script type="application/ld+json">
            {{ data|json_encode(
                constant('JSON_PRETTY_PRINT') b-or
                constant('JSON_UNESCAPED_SLASHES') b-or
                constant('JSON_UNESCAPED_UNICODE')
            ) }}
        </script>
    {% endautoescape %}

{% endblock %}

{% block content %}
    <div class="container">
        {{ macros.breadcrumb([
            {path: path('homepage'), label: 'Accueil'},
            {path: path('jobs'), label: 'Rejoindre la magic team'},
            {path: '#', label: job.fullTitle},
        ]) }}

        <div>
            <div class="banner">
                <h1 class="banner__title" data-aos="fade-right">
                    {% for title in job.title %}
                        {% if loop.first %}
                            {{ title }}
                        {% else %}
                            <span>{{ title }}</span>
                        {% endif %}
                    {% endfor %}
                </h1>
                <div class="banner__highlight" data-aos="zoom-in">
                    <p>{{ job.description }}</p>
                </div>
            </div>

            <div class="page-job-posting">
                <ul class="tile-list">
                    <li class="tile" data-aos="zoom-in-down">
                        <small>
                            <i class="icon icon--document" aria-hidden="true"></i>
                            Type de contrat
                        </small>
                        <p>{{ job.contractType.readable }}</p>
                    </li>
                    <li class="tile tile--medium" data-aos="zoom-in-down">
                        <small>
                            <i class="icon icon--location" aria-hidden="true"></i>
                            Lieu
                        </small>
                        <p>{{ job.place }}</p>
                    </li>
                    <li class="tile tile--medium" data-aos="zoom-in-down">
                        <small>
                            <i class="icon icon--time" aria-hidden="true"></i>
                            Prise de poste
                        </small>
                        <p>{{ job.hiringDate ? job.hiringDate|format_date(pattern='MMMM Y', locale='fr')|capitalize : 'Dès que possible' }}</p>
                    </li>
                </ul>
                <ul class="tile-list">
                    <li class="tile" data-aos="zoom-in-down">
                        <small>
                            <i class="icon icon--diploma" aria-hidden="true"></i>
                            Niveau de formation
                        </small>
                        <p>{{ job.formation ?? '-' }}</p>
                    </li>
                    <li class="tile" data-aos="zoom-in-down">
                        <small>
                            <i class="icon icon--time" aria-hidden="true"></i>
                            Expérience
                        </small>
                        <p>
                            {% if (job.experience) %}
                                {{ job.experience }} ans
                            {% else %}
                                -
                            {% endif %}
                        </p>
                    </li>
                    <li class="tile" data-aos="zoom-in-down">
                        <small>
                            <i class="icon icon--bill" aria-hidden="true"></i>
                            Rémunération
                        </small>
                        <p>{{ job.fullRemuneration ?? '-'}} </p>
                    </li>
                </ul>

                <div class="page-job-posting__content offset-conten">
                    {{ job.content|raw }}
                </div>

                <div class="check-block check-block--right" data-aos="zoom-in-left">
                <h3 class="check-block__title">Parmi les avantages proposés à nos collaborateurs :</h3>
                <ul class="check-block__list">
                    <li>Le télétravail est ouvert à tou·te·s et sans limite</li>
                    <li>La mutuelle est prise en charge par l'entreprise à 100%, pour vous et vos enfants</li>
                    <li>L'accès à un plan d'épargne entreprise</li>
                    <li>Nous proposons les Tickets Restaurant (Swile), pris en charge à hauteur de 60%</li>
                    <li>Forfait mobilité de 40€ tous les mois</li>
                    <li>Un abonnement famille au gestionnaire de mots de passe 1Password (Jusqu'à 5 personnes)</li>
                    <li>Une cagnotte annuelle personnelle est disponible pour vos dépenses d'équipement ou de formation (participation aux événements web, matériel spécifique, licences…)</li>
                </ul>
            </div>
            </div>
        </div>
    </div>
{% endblock %}
