{% set title = page.title ~ ' &middot; ' ~ site.title %}
{% if page.type == 'homepage' %}
{% set title = site.title ~ ' &middot; ' ~ site.baseline %}
{% endif %}

<!DOCTYPE html>
<html lang="{{ site.language|default('en') }}">
    <head>
    {% block head %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ site.title }}</title>
        <meta property="og:title" content="{{ site.title }}" />
        <meta property="og:locale" content="{{ site.language.locale|default('en') }}" />
        <meta name="description" content="{{ site.description }}" />
        <meta property="og:description" content="{{ site.description }}" />
        <link rel="canonical" href="{{ url(page, {canonical:true}) }}" />
        <meta property="og:url" content="{{ url(page, {canonical:true}) }}" />
        <meta property="og:site_name" content="{{ site.title }}" />
        <link rel="stylesheet" href="{{ url(toCSS('style.scss')) }}">
    {% include 'partials/alternates.html.twig' %}
    {% endblock head %}
    </head>
    <body>
        <header class="header">
            <div class="container">
                {% block header %}
                    <a href="{{ url('/', {canonical:true}) }}">
                        <span class="screen-reader">{{ site.title }}</span>
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 300 100" class="logo logo--animated">
                            <path d="M61.6,61.6H19.7C21,69,24.8,72.2,32.6,72.2c5.9,0,8.8-1.9,11.7-7.8l16.1,6.9C56.2,82,46.9,87.8,32.1,87.8
                                c-19.1,0-32-12.6-32-31.6c0-19.5,12.6-32.6,31.4-32.6c18.1,0,30.3,12.6,30.3,31.6C61.7,57.2,61.7,58.9,61.6,61.6z M19.6,49.3h23.6
                                c-0.2-7.9-4.1-10.9-11.3-10.9S20.7,41.8,19.6,49.3z"/>
                            <path d="M71.2,0.1H90v86.5H71.2V0.1z"/>
                            <path d="M166.1,24.7v61.8h-18.8V72.7c-3.5,9.8-10.5,15.1-20.4,15.1c-17.7,0-27.4-12.9-27.4-32
                                c0-19.4,9.3-32.2,26.2-32.2c10.5,0,18,5.4,21.6,15.6V24.7H166.1z M147.9,55.7c0-10.4-4.8-15.2-15.1-15.2c-9.9,0-14.6,4.8-14.6,15.2
                                c0,10.1,4.7,14.9,14.6,14.9C143.1,70.7,147.9,65.9,147.9,55.7L147.9,55.7z"/>
                            <path d="M242.8,55.8c0,19.9-15.3,32-33.6,32s-33.6-12.1-33.6-32s15.3-32.2,33.6-32.2S242.8,35.8,242.8,55.8z M224,55.8
                                c0-10.4-4.7-15.2-14.8-15.2c-10.1,0-14.8,4.8-14.8,15.2c0,10.1,4.7,14.9,14.8,14.9S224,65.9,224,55.8L224,55.8z"/>
                            <rect x="243.1" y="86.5" width="56.7" height="15"/>
                        </svg>
                    </a>
                {% endblock %}
                <nav class="nav">
                    <ul>
                        {# {% for entry in site.menus.main|sortByWeight %}
                        <li class="nav__item">
                            <a class="{% if url(page) == url(entry.url) %} selected{% endif %}" href="{{ url(entry.url) }}">{{ entry.name }}</a>
                            {%- if not loop.last %} - {% endif %}
                        </li>
                        {% endfor %} #}
                        <li class="nav__item">
                            <a href="#">
                                <span>Nos services</span>
                            </a>
                        </li>
                        <li class="nav__item">
                            <a href="#">
                                <span>Notre méthodo</span>
                            </a>
                        </li>
                        <li class="nav__item">
                            <a href="#">
                                <span>Nos valeurs</span>
                            </a>
                        </li>
                        <li class="nav__item">
                            <a href="#">
                                <span>La tribu</span>
                            </a>
                        </li>
                        <li class="nav__item">
                            <a href="#">
                                <span>Blog</span>
                            </a>
                        </li>
                        <li class="nav__item">
                            <a href="#">
                                <i class="icon icon--contact"></i>
                                <span>Contact</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <main>
        {% block content %}
            <div class="container">
                {{ page.content }}
            </div>
        {% endblock content %}
        </main>
        <footer class="footer">
            <section>
                <h4>Nos liens</h4>
                {% for entry in site.menus.main|sortByWeight %}
                    <a class="{% if url(page) == url(entry.url) %} selected{% endif %}" href="{{ url(entry.url) }}">{{ entry.name }}</a>
                    {%- if not loop.last %} - {% endif %}
                {% endfor %}
            </section>
            <section>
                <h4>Nous suivre</h4>

                {% for entry in site.menus.social|sortByWeight %}
                    <a href="{{ url(entry.url) }}">{{ entry.name }}</a>
                    {%- if not loop.last %} - {% endif %}
                {% endfor %}
            </section>
        </footer>
        <script src="{{ url('/anchor.js') }}"></script>
        <script>anchors.add();</script>
        {% include 'partials/googleanalytics.js.twig' %}
    </body>
</html>
