{% extends '_default/page.html.twig' %}

{% block content %}
  {% set data = site.data.authors.authors[page.slug]|default({}) %}

  <ul>
    {% for key, value in data %}
      <li><strong>{{ key }}</strong> : {{ value }}</li>
    {% endfor %}
  </ul>

  {{ page.content }}

  <p>
    <a href="{{ url('authors/' ~ page.slug) }}">Voir les articles de {{ data.name }}</a>
  </p>
{% endblock content %}
