{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}
    {% set icon %}
        {# this is the content displayed as a panel in the toolbar #}
        🤖 <span class="sf-toolbar-value">SEO</span>
    {% endset %}

    {% set text %}
        {# this is the content displayed when hovering the mouse over
           the toolbar panel #}
        <div class="sf-toolbar-info-piece">
            <b>X-Robots-Tag :</b>
            <span>{{ collector.RobotGuidelinesChecker.XRobotsTag }}</span>
        </div>
        <div class="sf-toolbar-info-piece">
            <b>Canonical :</b>
            <span>{{ collector.RobotGuidelinesChecker.canonical }}</span>
        </div>
        <div class="sf-toolbar-info-piece">
            <b>Title :</b>
            <span>{{ collector.OptimizationChecker.title }}</span>
        </div>
        <div class="sf-toolbar-info-piece">
            <b>Meta Description :</b>
            <span>{{ collector.OptimizationChecker.metaDescription }}</span>
        </div>
        <div class="sf-toolbar-info-piece">
            <b>H1 :</b>
            <span>{{ collector.OptimizationChecker.h1 }}</span>
        </div>
        <div class="sf-toolbar-info-piece">
            <b>Open Graph :</b>
            <span>{{ collector.OptimizationChecker.OpenGraphLevel }}</span>
        </div>
        <div class="sf-toolbar-info-piece">
            <b>Twitter :</b>
            <span>{{ collector.OptimizationChecker.twitterPropertiesLevel }}</span>
        </div>
        <div class="sf-toolbar-info-piece">
            <b>Total images / Missing Alt :</b>
            <span>{{ collector.ImageChecker.countAllImages }} / {{ collector.ImageChecker.countAltFromImages }}</span>
        </div>

    {% endset %}

    {# the 'link' value set to 'false' means that this panel doesn't
       show a section in the web profiler #}
    {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { link: false }) }}
{% endblock %}
