{% extends 'base.html.twig' %}

{% block content %}
  <ul class="breadcrumb">
    <li class="breadcrumb__item">
      <a href="#">Blog</a>
    </li>
    <li class="breadcrumb__item">
      <a href="#">Comprendre le cache du client Graphql Apollo</a>
    </li>
  </ul>

  <img src="{{ asset(article.thumbnail) }}" />

  <div class="article-info">
    <div class="article-info__author">
      <img src="{{ asset(article.author.avatar ?? 'images/authors/default.png') }}" />
      <span class="name">Écrit par <strong>{{ article.author.name }}</strong></span>
    </div>
    <div class="article-info__author article-info__author--multiple">
      <img src="{{ asset(article.author.avatar|default('images/authors/default.png')) }}" />
      <img src="{{ asset(article.author.avatar|default('images/authors/default.png')) }}" />
      <img src="{{ asset(article.author.avatar|default('images/authors/default.png')) }}" />
      <span class="name">
        Écrit par
        <strong>{{ article.author.name }}</strong>
        <strong>{{ article.author.name }}</strong>
        <strong>{{ article.author.name }}</strong>
        <strong>{{ article.author.name }}</strong>
      </span>
    </div>
    <div class="article-info__date">
      <span>Publication <strong>{{ article.publishdate|format_date('long') }}</strong></span>
      <span>Modification <strong>{{ article.lastModified|format_date('long') }}</strong></span>
    </div>
  </div>

  <div>
    {% for tag in article.tags %}
      <a href="{{ path('blog_tag', { tag: tag }) }}">#{{ tag }}</a>
    {% endfor %}
  </div>

  <div>
    <h1>{{ article.title }}</h1>
    <p>{{ article.description }}</p>
  </div>

  <div>
    {{ article.content|raw }}
  </div>

  <div>
    <img src="{{ asset(article.author.avatar ?? 'images/authors/default.png') }}" />

    <p>Écrit par {{ article.author.name }}<p>

    {% if article.author.twitter %}
      <a href={{ article.author.twitter }}>Twitter</a>
    {% endif %}
    {% if article.author.github %}
      <a href={{ article.author.github }}>Github</a>
    {% endif %}
    {% if article.author.website %}
      <a href={{ article.author.website }}>Website</a>
    {% endif %}
  </div>

  <h4>Ces articles pourraient vous intéresser:</h4>

{% endblock content %}
