{% import "macros.html.twig" as macros %}
{% extends 'base.html.twig' %}

{% block meta_locale article.lang %}

{% block meta_title article.title %}
{% block meta_description article.description %}

{% block content %}
    <ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
        <li class="breadcrumb__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <a itemprop="item" href="{{ path('blog') }}">
                <span itemprop="name">Blog</span>
            </a>
            <meta itemprop="position" content="1" />
        </li>
        <li class="breadcrumb__item"  itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <a itemprop="item" href="#">
                <span itemprop="name">{{ article.title }}</span>
            </a>
            <meta itemprop="position" content="2" />
        </li>
    </ol>

    <div class="article-banner">
        <div class="article-banner__cover" style="{{ macros.backgroundImageSrcset(article.thumbnail, 'article_banner') }}"></div>

        <div class="article-info">
            {% set authors = article.authors|length > 5 ? [null] : article.authors %}
            {% block author_header %}
                <div class="article-author {{ authors|length > 1 ? 'article-author--multi' : '' }}">
                    <div class="article-author__image">
                        {% for author in authors %}
                            <img src="{{ asset(author.avatar ?? 'images/authors/default.png') }}"/>
                        {% endfor %}
                    </div>
                    <span class="article-author__info">
            Écrit par
            {% for author in authors %}
                <strong>{{ author.name|default('La team élao') }}</strong>
            {% endfor %}
          </span>
                </div>
            {% endblock %}
            <div class="article-info__date">
                <span>Publication <strong>{{ article.publishdate|format_date('long') }}</strong></span>
                <span>Modification <strong>{{ article.lastModified|format_date('long') }}</strong></span>
            </div>
        </div>

        <div class="article-header">
            <h1>{{ article.title }}</h1>
            <p>{{ article.description }}</p>
            <ul class="article-tag-list">
                {% for tag in article.tags %}
                    <li class="article-tag-list__item">
                        <a href="{{ path('blog_tag', { tag: tag|lower }) }}" rel="nofollow">#{{ tag|u.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    {% if article.tableOfContent %}
        <ul class="table-of-content">
            {% for id, title in article.tableOfContent %}
                <li class="table-of-content__item">
                    <a href="#{{ id }}">{{ title }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="article-content">
        <main class="article-content__main">

            {% if article.outdated %}
                <p class="alert alert--info">
                    {% if article.outdated is same as true %}
                        <i class="icon icon--info" aria-hidden="true"></i>
                        Attention, cet article date un peu, il est peut-être obsolète, gardez cela en tête lors de votre lecture !
                    {% else %}
                        {{ article.outdated }}
                    {% endif %}
                </p>
            {% endif %}

            {{ article.content|raw }}
            {% block credits %}
                {% if article.credits %}
                    <div class="article-credits">
                        Crédits: photo de couverture par
                        {% if article.credits.url %}
                            <a href="{{ article.credits.url }}">
                                {{ article.credits.name }}
                            </a>
                        {% else %}
                            {{ article.credits.name }}
                        {% endif %}
                    </div>
                {% endif %}
            {% endblock %}
        </main>
        <aside class="article-content__aside">
            {% if article.tweetId is not empty %}
                <a href="{{ external_url('twitter_like', { tweet_id: article.tweetId }) }}" class="kudo" target="_blank">
                    <span class="kudo__button" aria-hidden="true"></span>
                    <span class="screen-reader">Cet article m’a été utile</span>
                    <span class="kudo__label" aria-hidden="true">Kudos</span>
                </a>
            {% endif %}
        </aside>
    </div>

    <div class="article-footer">
        {% block author_footer %}
            {% for author in article.authors %}
                <div class="article-author">
                    <div class="article-author__image">
                        <img src="{{ asset(author.avatar|default('images/authors/default.png')) }}"/>
                    </div>
                    <span class="article-author__info">
                        {{ loop.first ? 'Écrit par' : 'Co-écrit par' }}
                        <strong>{{ author.name }}</strong>
                    </span>

                    <div class="article-author__social">
                        {% if author.twitter %}
                            <a href="https://twitter.com/{{ author.twitter }}" class="social social--small">
                                <i class="icon icon--twitter" aria-hidden="true"></i>
                                <span class="screen-reader">Compte twitter de {{ author.name }}</span>
                            </a>
                        {% endif %}
                        {% if author.github %}
                            <a href="https://github.com/{{ author.github }} " class="social social--small">
                                <i class="icon icon--github" aria-hidden="true"></i>
                                <span class="screen-reader">Compte github de {{ author.name }}</span>
                            </a>
                        {% endif %}
                        {% if author.website %}
                            <a href="{{ author.website }}" class="social social--small">
                                <i class="icon icon--website" aria-hidden="true"></i>
                                <span class="screen-reader">Site personnel de {{ author.name }}</span>
                            </a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% endblock %}
    </div>

    {% if article.tweetId is not empty %}
        <div class="bricks">
            <div class="brick-comment">
                <p class="title">Commenter</p>
                <p>
                    Des commentaires ?
                    <a href="{{ external_url('twitter_elao_tweet', { tweetId: article.tweetId }) }}" target="_blank" class="animated-link animated-link--light">
                        Poursuivons la discussion sur twitter !
                    </a>
                </p>
                <div id="tweet-container" class="tweet-container" data-tweet-id="{{ article.tweetId }}"></div>
            </div>
        </div>
    {% endif %}
{% endblock content %}

{% block javascripts %}
    {{ parent() }}

    {% if article.tweetId is not empty %}
        <script src="https://platform.twitter.com/widgets.js"></script>
        <script>
            window.onload = (function(){
                var tweet = document.getElementById('tweet-container');
                // https://developer.twitter.com/en/docs/twitter-for-websites/embedded-tweets/guides/embedded-tweet-parameter-reference
                twttr.widgets.createTweet(tweet.getAttribute('data-tweet-id'), tweet, {
                    conversation: 'none',
                    cards: 'hidden',
                    theme: 'light',
                    lang: 'fr',
                    align: 'center',
                    width: 550, // default
                    dnt: true,
                })
            });
        </script>
    {% endif %}
{% endblock %}
