{% extends 'base.html.twig' %}

{% block content %}
  <img src="{{ asset(article.thumbnail) }}" />

  <div>
    <img src="{{ asset(article.author.avatar|default('images/authors/default.png')) }}" />
    <p>Écrit par {{ article.author.name }}<p>
    <p>Publication {{ article.publishdate|format_date('long') }}<p>
    <p>Modification {{ article.lastModified|format_date('long') }}<p>
  </div>

  <div>
    {% for tag in article.tags %}
      <a href="{{ path('blog_tag', { tag: tag }) }}">#{{ tag }}</a>
    {% endfor %}
  </div>

  <div>
    <h1>{{ article.title }}</h1>
    <p>{{ article.description }}</p>
  </div>

  <div>
    {{ article.content|raw }}
  </div>

  <div>
    <img src="{{ asset(article.author.avatar|default('images/authors/default.png')) }}" />

    <p>Écrit par {{ article.author.name }}<p>

    {% if article.author.twitter %}
      <a href={{ article.author.twitter }}>Twitter</a>
    {% endif %}
    {% if article.author.github %}
      <a href={{ article.author.github }}>Github</a>
    {% endif %}
    {% if article.author.website %}
      <a href={{ article.author.website }}>Website</a>
    {% endif %}
  </div>

  <h4>Ces articles pourraient vous intéresser:</h4>

{% endblock content %}
