{% import "macros.html.twig" as macros %}
{% extends 'base.html.twig' %}

{% block meta_title "Le blog de l'équipe d'Elao" %}
{% block meta_description "Découvrez nos articles techniques (ou non), rédigés par les membres de l'équipe d'Elao !" %}

{% block meta_rss %}
    <link rel="alternate" type="application/rss+xml" href="{{ path('blog_rss') }}" title="Le blog de l'équipe d'Elao" />
{% endblock %}

{% block content %}
    <div class="container">
    {% block articles %}
        <ul class="article-list">
            {% for article in articles %}
                {% if page == minPage and loop.first %}
                    <li class="miniature-highlight">
                        <a href="{{ path('blog_article', { article: article.slug }) }}" class="miniature-highlight__image" data-aos="fade-down">
                            <span
                                class="image"
                                style="{{ macros.backgroundImageSrcset(article.thumbnail, 'article_thumbnail.lg', null, article.thumbnailResizeOptions) }}"
                            ></span>
                        </a>
                        <div class="miniature-highlight__content" data-aos="zoom-in">
                            <div class="info">
                                {% set authors = article.authors|length > 5 ? [] : article.authors %}
                                <div class="article-author {{ authors|length > 1 ? 'article-author--multi' : '' }}">
                                    <div class="article-author__image">
                                        {% for author in authors %}
                                            <a {%- if author.active %} href="{{ path('blog_author', { author: author.slug }) }}"{% endif -%}>
                                                <img {{ macros.imageSrcset(author.avatar(), 'author_avatar') }} />
                                            </a>
                                        {% else %}
                                            <img {{ macros.imageSrcset('content/images/members/avatars/elao-team.jpg', 'author_avatar') }} />
                                        {% endfor %}
                                    </div>
                                    <span class="article-author__info">
                                        Écrit par
                                        {% for author in authors %}
                                            <a {%- if author.active %} href="{{ path('blog_author', { author: author.slug }) }}"{% endif -%}>
                                                <strong>{{ author.name }}</strong>
                                            </a>
                                        {% else %}
                                            <a href="{{ path('blog_author', { author: 'elao' }) }}">
                                                <strong>La team elao</strong>
                                            </a>
                                        {% endfor %}
                                    </span>
                                    <span class="article-author__info">
                                        Publication
                                        <strong>{{ article.date|format_datetime('short', 'none', locale='fr') }}</strong>
                                    </span>
                                </div>
                            </div>
                            <a href="{{ path('blog_article', { article: article.slug }) }}" class="details">
                                <h2 class="title">{{ article.title }}</h2>
                                <p>{{ article.description }}</p>
                            </a>
                        </div>
                    </li>
                    <li class="article-filter">
                        <ul>
                            {% for category in site.blog.categories %}
                                <li class="article-filter__item">
                                    <a href="{{ path('blog_articles_from_path', { path: category.path }) }}" class="btn btn--secondary">
                                        {{ category.label }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% elseif page == minPage and loop.index < 5 %}
                    <li class="miniature-inline" data-aos="fade-left">
                        <a href="{{ path('blog_article', { article: article.slug }) }}" class="miniature-inline__image">
                            <span
                                class="image"
                                style="{{ macros.backgroundImageSrcset(article.thumbnail, 'article_thumbnail.md', null, article.thumbnailResizeOptions) }}"
                            ></span>
                        </a>
                        <div class="miniature-inline__content">
                            <span class="date">{{ article.date|format_datetime('short', 'none', locale='fr') }}</span>
                            <a href="{{ path('blog_article', { article: article.slug }) }}" class="title">{{ article.title }}</a>
                            <p class="description">{{ article.description }}</p>
                            {% block tags %}
                                <ul class="tag-list">
                                    {% for tag in article.tags %}
                                        <li class="tag-list__item">
                                            <a href="{{ path('blog_tag', { tag: tag }) }}" rel="nofollow">
                                                #{{ tag|u.camel.title }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endblock %}
                            <a href="{{ path('blog_article', { article: article.slug }) }}" class="btn btn--secondary btn--animated">
                                <span>
                                    Lire l'article
                                    {% include 'partials/svg-arrow.html.twig' %}
                                </span>
                            </a>
                        </div>
                    </li>
                {% else %}
                    <li class="miniature" data-aos="fade-in">
                        <a href="{{ path('blog_article', { article: article.slug }) }}" class="miniature__image">
                            <span
                                class="image"
                                style="{{ macros.backgroundImageSrcset(article.thumbnail, 'article_thumbnail.sm', null, article.thumbnailResizeOptions) }}"
                            ></span>
                        </a>
                        <div class="miniature__content">
                            <a href="{{ path('blog_article', { article: article.slug }) }}" class="title">{{ article.title }}</a>
                            <p class="description">{{ article.description }}</p>
                            {{ block('tags') }}
                            <a href="{{ path('blog_article', { article: article.slug }) }}" class="link link--brand">Lire l'article</a>
                        </div>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    {% endblock %}

    {% include 'blog/pagination.html.twig' with {
        route: 'blog_page',
        minPageRoute: 'blog',
    } %}
{% endblock %}
