<?xml version="1.0" encoding="UTF-8"?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:media="http://search.yahoo.com/mrss/" version="2.0">
    <channel>
        <title>Le blog de l'équipe d'Elao</title>
        <description>Découvrez nos articles techniques (ou non), rédigés par les membres de l'équipe d'Elao !</description>
        <copyright>Elao - L’utilisation des flux RSS de elao.com est réservée à un usage strictement personnel, non professionnel et non collectif. Toute autre exploitation doit faire l’objet d’une autorisation et donner lieu au versement d’une rémunération. Contact : contact@elao.com</copyright>
        <link>{{ url('blog_rss') }}</link>
        <pubDate>{{ 'now'|date(constant('DATE_RFC2822')) }}</pubDate>
        <language>fr</language>
        <atom:link href="{{ url('blog_rss') }}" rel="self" type="application/rss+xml"/>
        {% for article in articles %}
        <item>
            <title>{{ article.title|striptags }}</title>
            <pubDate>{{ article.lastModifiedOrCreated|date(constant('DATE_RFC2822')) }}</pubDate>
            <description>
                <![CDATA[ {{ article.description }} ]]>
            </description>
            <guid isPermaLink="true">{{ url('blog_article', { article: article.slug }) }}</guid>
            <link>{{ url('blog_article', { article: article.slug }) }}</link>
            <media:content url="{{ absolute_url(asset(article.thumbnail|glide_image_preset('opengraph_image'))) }}" width="1200" height="627">
                <media:description type="plain">{{ article.title }}</media:description>
                {% if article.credits is not empty %}
                    <media:credit role="photographer" scheme="urn:ebu">{{ article.credits|join(', ') }}</media:credit>
                {% endif %}
            </media:content>
        </item>
        {% endfor %}
    </channel>
</rss>
