<!DOCTYPE html>
<html lang="{% block meta_locale app.request.locale %}" class="no-js">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block meta_title site.title %}</title>

        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('site.webmanifest') }}">
        <link rel="mask-icon" href="{{ asset('safari-pinned-tab.svg') }}" color="#ff4344">
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}">
        <meta name="msapplication-TileColor" content="#ff4344">
        <meta name="msapplication-config" content="{{ asset('browserconfig.xml') }}">
        <meta name="theme-color" content="#ffffff">

        {% block meta %}
            <meta name="description" content="{% block meta_description site.description %}" />
            <link rel="canonical" href="{{ app.request.uri }}" />

            <!-- Open Graph / Facebook -->
            <meta property="og:title" content="{% block og_title block('meta_title') %}" />
            <meta property="og:locale" content="{% block og_locale block('meta_locale') %}" />
            <meta property="og:description" content="{% block og_description block('meta_description') %}" />
            <meta property="og:url" content="{{ app.request.uri }}" />
            <meta property="og:site_name" content="elao_" />

            {% set og_image %}{% block og_image %}{{ absolute_url(asset('social/Elao-home-og2.jpg')) }}{% endblock %}{% endset %}
            {% if og_image|default(false) %}
                <meta property="og:image" content="{{ og_image }}">
            {% endif %}

            <!-- Twitter -->
            <meta property="twitter:card" content="{% block twitter_card_type 'summary_large_image' %}">
            <meta property="twitter:title" content="{% block twitter_title block('meta_title') %}">
            <meta property="twitter:description" content="{% block twitter_description block('meta_description') %}">
            <meta property="twitter:site" content="@elao">
            <meta property="twitter:creator" content="@elao">
            {% set twitter_image %}{% block twitter_image %}{{ absolute_url(asset('social/elao-ogimage-twitter2.jpg')) }}{% endblock %}{% endset %}
            {% if twitter_image|default(false) %}
                <meta property="twitter:image" content="{{ twitter_image }}">
            {% endif %}
        {% endblock %}

        {% block structured_data %}{% endblock %}

        {# Optional no-index #}
        {% if forceNoIndex or noindex ?? false %}
            <meta name="robots" content="noindex" />
        {% endif %}

        <script>
            {# Detect as soon as possible if JS is available #}
            document.querySelector('html').classList.remove('no-js');
        </script>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}

            {% if site.trackers.matomo is not empty %}
                <!-- Matomo -->
                <script type="text/javascript">
                    var _paq = window._paq = window._paq || [];
                    _paq.push(['trackPageView']);
                    _paq.push(['enableLinkTracking']);
                    (function() {
                        var u="//metrics.elao.com/";
                        _paq.push(['setTrackerUrl', u+'matomo.php']);
                        _paq.push(['setSiteId', '{{ site.trackers.matomo }}']);
                        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                        g.type='text/javascript'; g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
                    })();
                </script>
                <!-- End Matomo Code -->
            {% endif %}
        {% endblock %}

        <!-- S.E.E. -->
        <meta name="see" content="{{ encore_entry_js_files('see')|json_encode|escape('html_attr') }}">
        <meta name="see_style" content="{{ encore_entry_css_files('see')|json_encode|escape('html_attr') }}">
    </head>
    <body
        {{ stimulus_controller('swup_plugins')
         | stimulus_controller('symfony/ux-swup/swup', {
               containers: swupContainers ?? ['#main', '#nav'],
               cache: true,
               animateHistoryBrowsing: true,
               debug: app.debug,
               linkSelector: [
                   'a[href^="%s"]'|format(app.request.schemeAndHttpHost ~ app.request.basePath),
                   'a[href^="/"]',
               ]|map(selector => selector ~ [
                       '[data-no-swup]',
                       '[target="_blank"]',
                       'a[href^="%s/_profiler"]'|format(app.request.schemeAndHttpHost ~ app.request.basePath)
                   ]|map(notRule => ':not(%s)'|format(notRule))|join(''))
               |join(',')
           })
         | stimulus_controller('swup_matomo', {
               enabled: site.trackers.matomo is not empty,
           })
        }}>
        {% block header %}
            <header id="nav" class="header">
                <div class="container">
                    <!--
                        Todo :
                        - only on homepage : on scroll .logo.logo--animated becomes .logo.logo--animated.logo--active (triggers its animation)
                     -->
                    <a href="{{ path('homepage') }}">
                        <span class="screen-reader">{{ block('meta_title') }}</span>
                        {% block logo %}
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 300 100" class="logo logo--animated">
                                <path d="M61.6,61.6H19.7C21,69,24.8,72.2,32.6,72.2c5.9,0,8.8-1.9,11.7-7.8l16.1,6.9C56.2,82,46.9,87.8,32.1,87.8
                                    c-19.1,0-32-12.6-32-31.6c0-19.5,12.6-32.6,31.4-32.6c18.1,0,30.3,12.6,30.3,31.6C61.7,57.2,61.7,58.9,61.6,61.6z M19.6,49.3h23.6
                                    c-0.2-7.9-4.1-10.9-11.3-10.9S20.7,41.8,19.6,49.3z"/>
                                <path d="M71.2,0.1H90v86.5H71.2V0.1z"/>
                                <path d="M166.1,24.7v61.8h-18.8V72.7c-3.5,9.8-10.5,15.1-20.4,15.1c-17.7,0-27.4-12.9-27.4-32
                                    c0-19.4,9.3-32.2,26.2-32.2c10.5,0,18,5.4,21.6,15.6V24.7H166.1z M147.9,55.7c0-10.4-4.8-15.2-15.1-15.2c-9.9,0-14.6,4.8-14.6,15.2
                                    c0,10.1,4.7,14.9,14.6,14.9C143.1,70.7,147.9,65.9,147.9,55.7L147.9,55.7z"/>
                                <path d="M242.8,55.8c0,19.9-15.3,32-33.6,32s-33.6-12.1-33.6-32s15.3-32.2,33.6-32.2S242.8,35.8,242.8,55.8z M224,55.8
                                    c0-10.4-4.7-15.2-14.8-15.2c-10.1,0-14.8,4.8-14.8,15.2c0,10.1,4.7,14.9,14.8,14.9S224,65.9,224,55.8L224,55.8z"/>
                                <rect x="243.1" y="86.5" width="56.7" height="15"/>
                            </svg>
                        {% endblock %}
                    </a>

                    {% block desktop_nav %}
                        <!-- Desktop nav -->
                        <nav class="nav">
                            <ul>
                                {% for item in site.menu|filter(item => item.desktop ?? true) %}
                                    <li class="nav__item {{
                                        app.request.attributes.get( '_route' ) == item.path or
                                        app.request.attributes.get( '_route' ) in item.routes ?? []
                                    ? 'nav__item--active' }}">
                                        <a href="{{ path(item.path) }}">
                                            {% if item.icon ?? false %}
                                                <i class="icon icon--{{ item.icon }}" aria-hidden="true"></i>
                                            {% endif %}
                                            <span>{{ item.label }}</span>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </nav>
                    {% endblock %}

                    {% block mobile_nav %}
                        <!-- Mobile nav -->
                        <nav class="nav-mobile" {{ stimulus_controller('toggle') }}>
                            <div class="nav-mobile__header">
                                <a href="{{ path('homepage') }}">
                                    {{ block('logo') }}
                                </a>
                                <button class="nav-toggle nav-toggle--close">
                                    <i class="icon icon--close" aria-hidden="true"></i>
                                    <span class="screen-reader">Fermer le menu</span>
                                </button>
                            </div>
                            <ul>
                                {% for item in site.menu|filter(item => item.mobile ?? true) %}
                                    <li class="nav-mobile__item {{
                                        app.request.attributes.get( '_route' ) == item.path or
                                        app.request.attributes.get( '_route' ) in item.routes ?? []
                                    ? 'nav-mobile__item--active' }} {{ item.mobileClass|default('') }}">
                                        <a href="{{ path(item.path) }}">
                                            {% if item.icon ?? false %}
                                                <i class="icon icon--{{ item.icon }}" aria-hidden="true"></i>
                                            {% endif %}
                                            <span>{{ item.label }}</span>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </nav>
                        <button class="nav-toggle nav-toggle--open">
                            <i class="icon icon--hamburger" aria-hidden="true"></i>
                            <span class="screen-reader">Ouvrir le menu</span>
                        </button>
                    {% endblock %}
                </div>
            </header>
        {% endblock %}
        <main id="main">
            {% block content %}{% endblock %}
        </main>
        {% block footer %}
            {{ include('partials/footer.html.twig') }}
        {% endblock %}
    </body>
</html>
