{% import "macros.html.twig" as macros %}
{% extends 'base.html.twig' %}

{% set interval = date('now').diff(date(site.birthdate)) %}
{% block meta_title "Concevoir : comprendre et conseiller | Elao" %}
{% block meta_description "Sollicitez notre expertise fonctionnelle et technique afin de profitez d’un accompagnement globale qui contribuera à la réussite de votre projet web | Elao" %}

{% block content %}

<div class="container">
    {{ macros.breadcrumb([
        {path: path('homepage'), label: 'Accueil'},
        {path: path('services'), label: 'Nos services'},
        {path: '#', label: 'Concevoir : comprendre et conseiller'},
    ]) }}
    <div class="banner-services">
        <h1 class="banner-services__title" data-aos="fade-right">Concevoir : <span>comprendre et conseiller</span></h1>
        <div class="banner-services__content">
            <div class="image" data-aos="fade-left" style="background-image: url('{{ asset('build/images/pages/services/concevoir-comprendre-conseiller.jpg') }}'); background-image: image-set(url('{{ asset('build/images/pages/services/concevoir-comprendre-conseiller.jpg') }}') 1x, url('{{ asset('build/images/pages/services/concevoir-comprendre-conseiller@2x.jpg') }}') 2x)"></div>
            <span class="highlight" data-aos="zoom-in">
                <p>Bien comprendre votre métier et votre besoin avant de penser une solution !</p>
                <i class="icon icon--square-brackets-right" aria-hidden="true"></i>
            </span>
        </div>
        <p class="banner-services__text">
            Avant de trouver une solution sur-mesure à vos besoins, nous les comprenons en profondeur, les explorons, les challengeons pour que notre accompagnement soit efficient et puisse embarquer tout le monde !
        </p>
    </div>
    <div class="page-services">
        <h2 class="h2--dash">Un accompagnement global adapté à votre contexte</h2>
        <div class="offset-content">
            <p>
                Ce qui nous fait vibrer, c'est de sortir le nez de notre écran pour <strong>construire avec vous le meilleur projet</strong>, qui corresponde à <strong>votre métier et à vos utilisateurs</strong>. Si nous n'aimons pas particulièrement les cahiers des charges trop fournis, c'est parce que <strong>notre équipe est efficace quand elle est actrice des choix techniques et fonctionnels</strong> et qu'elle les comprend.
                <br>
                Ainsi, chez Elao, nous devenons votre équipe produit : <strong>plus partenaires que prestataires</strong>, nous misons sur la <strong>transparence totale</strong> tout au long du projet. Nos {{ interval.y}} ans d'expérience nous aident dans la mise en place de <strong><a href="{{ path('glossary_term', {term: 'methodologie'}) }}">méthodologies</a></strong> éprouvées pour vous garantir le meilleur accompagnement.
            </p>
        </div>

        <h2 class="h2--dash">Les grandes étapes de notre accompagnement</h2>
        <ul class="steps">
            {% with { duration: 600, delayGap: 200, delay: 0 } %}
                <li class="steps__item" data-aos="fade-up" data-aos-duration="{{ duration }}" data-aos-delay="{{ delay }}">
                    <span>1</span>
                    <h3>Défricher ensemble votre projet</h3>
                    <ul>
                        <li>Définir ensemble l'essence et les subtilités de votre métier</li>
                        <li>Connaître vos utilisateurs</li>
                        <li>S'adapter à leurs contraintes (et aux vôtres)</li>
                        <li>Comprendre le contexte et l'environnement dans lequel vous évoluez</li>
                    </ul>
                </li>
                {% set delay = delay + delayGap %}
                <li class="steps__item" data-aos="fade-up" data-aos-duration="{{ duration }}" data-aos-delay="{{ delay }}">
                    <span>2</span>
                    <h3>Construire une feuille de route pertinente</h3>
                    <ul>
                        <li>Permettre à chacun d'exprimer son besoin afin d'aboutir à un périmètre fonctionnel adapté</li>
                        <li>Mettre en place une <strong><a href="{{ path('glossary_term', {term: 'methodologie'}) }}">méthodologie</a></strong> qui fonctionne dans votre contexte</li>
                        <li>Vous permettre de faire des choix techniques et stratégiques en toute connaissance de cause</li>
                        <li>Construire un planning réaliste et serein</li>
                        <li>Estimer finement le temps de développement et prioriser en fonction de votre enveloppe budgétaire</li>
                    </ul>
                </li>
                {% set delay = delay + delayGap %}
                <li class="steps__item" data-aos="fade-up" data-aos-duration="{{ duration }}" data-aos-delay="{{ delay }}">
                    <span>3</span>
                    <h3>Mettre en place la bonne équipe</h3>
                    <ul>
                        <li>Proposer une équipe technique adaptée aux besoins de votre projet</li>
                        <li>Mettre à disposition un facilitateur pour fluidifier les échanges</li>
                        <li>Vous aider à trouver les bons partenaires pour les étapes importantes (<strong><a href="{{ path('glossary_term', {term: 'ui-ux'}) }}">UX/UI</a></strong>, hébergement...) et vous accompagner pour les guider tout au long du projet</li>
                    </ul>
                </li>
            {% endwith %}
        </ul>

        <div class="large-content">
            <div class="text-image">
                <div>
                    <h2 class="h2--dash">Notre expertise technique à travers notre accompagnement</h2>
                    <p>Nous sommes régulièrement sollicités pour faire de l'accompagnement technique poussé auprès d'équipes techniques ou produit déjà en place, souvent dans le but <strong>d'offrir un regard extérieur bienveillant mais exigeant</strong>.
                        <br><br>Cet accompagnement peut avoir divers objectifs :
                    </p>
                </div>
                <picture data-aos="fade-left">
                    <source
                        type="image/jpeg"
                        srcset="{{ asset('build/images/pages/services/developer.jpg') }} 1x,
                                    {{ asset('build/images/pages/services/developer@2x.jpg') }} 2x"
                    >
                    <img src="{{ asset('build/images/pages/services/developer.jpg') }}" alt="" />
                </picture>
            </div>
        </div>
        <div class="large-content">
            <ul class="supports">
                {% with { duration: 600, delayGap: 200, delay: 0 } %}
                <li class="supports__item" data-aos="fade-up" data-aos-duration="{{ duration }}" data-aos-delay="{{ delay }}">
                    <i class="icon icon--team" aria-hidden="true"></i>
                    Vous aider à organiser et même recruter votre équipe tech
                </li>
                {% set delay = delay + delayGap %}
                <li class="supports__item" data-aos="fade-up" data-aos-duration="{{ duration }}" data-aos-delay="{{ delay }}">
                    <i class="icon icon--architecture" aria-hidden="true"></i>
                    Vous accompagner dans l'architecture technique de votre projet
                </li>
                {% set delay = delay + delayGap %}
                <li class="supports__item" data-aos="fade-up" data-aos-duration="{{ duration }}" data-aos-delay="{{ delay }}">
                    <i class="icon icon--backlog" aria-hidden="true"></i>
                    <span class="supports__item__content">
                        Construire avec vous le <strong><a href="{{ path('glossary_term', {term: 'backlog'}) }}">backlog</a></strong> de votre produit
                    </span>
                </li>
                {% set delay = delay + delayGap %}
                <li class="supports__item" data-aos="fade-up" data-aos-duration="{{ duration }}" data-aos-delay="{{ delay }}">
                    <i class="icon icon--audit" aria-hidden="true"></i>
                    Vous aider à améliorer la qualité de vos développement à travers de la revue de code ou des audits techniques
                </li>
                {% endwith %}
            </ul>
        </div>
        <div class="bricks">
            <a href="{{ path('contact') }}" class="brick-send-message" data-aos="zoom-in-down">
                <p>Un projet ?</p>
                <h3 class="title">Vous avez un projet et souhaitez en discuter avec nous ?</h3>
                <span class="animation">
                    {% include 'partials/svg-letter.html.twig' %}
                    <span>Échangeons !</span>
                </span>
            </a>
        </div>
    </div>
</div>
{% endblock %}
