{% set noindex = true %}
{% import "macros.html.twig" as macros %}

{% set swupContainers = [] %}
{% block meta_title "Inspirer : valoriser et innover | Elao" %}
{% block meta_description "Utilisez notre assistant basé sur les IA génératives afin de vous accompagner dans vos tâches récurrentes pour vous faire gagner du temps | Elao" %}

{% extends 'base.html.twig' %}

{% block content %}
    <div class="container">
        {{ macros.breadcrumb([
            {path: path('homepage'), label: 'Accueil'},
            {path: path('services'), label: 'Nos services'},
            {path: '#', label: 'IA'},
        ]) }}

        <div class="banner-services">
            <h1 class="banner-services__title" data-aos="fade-right">Inspirer : valoriser et innover</h1>
            <div class="banner-services__content">
                <div class="image"
                     data-aos="fade-left"
                     style="background-image: {{ asset('build/images/pages/services/ia/ia-banner.jpg') }};
                            background-image: image-set(url({{ asset('build/images/pages/services/ia/ia-banner.jpg') }}) 1x,
                                                        url({{ asset('build/images/pages/services/ia/ia-banner@2x.jpg') }}) 2x);">
                </div>
                <span class="highlight" data-aos="zoom-in">
                    <p>L’IA et la data : des leviers stratégiques pour transformer votre quotidien</p>
                </span>
            </div>
        </div>

        <div class="page-ia">
            <h2 class="h2--dash">Elao et l'IA</h2>
            <div class="offset-content">
                <p>
                    L’<strong><a href="{{ path('glossary_term', {term: 'ia'}) }}">IA</a></strong> et les datas sont pour nous des outils puissants et polyvalents qui vous permettent de gagner un temps précieux, de concentrer au quotidien vos efforts là où vous avez un véritable apport et de <strong>valoriser l’impact de chaque projet, service, équipe.</strong>
                </p>
                <p>
                    Plus que des mastodontes effrayants, nous faisons d’eux des alliés de tous les jours, des moteurs de transformation conçus pour répondre et s’adapter aux besoins spécifiques de votre organisation, à vos processus sans tout bouleverser en interne pour autant !
                </p>

                <h2>Des outils sur mesure, intégrés à votre environnement</h2>

                <p>
                    Nous comprenons que chaque entreprise dispose d’un écosystème unique. C’est pourquoi nous intégrons l’IA et la data de manière fluide et personnalisée dans vos processus existants Ainsi, vous profitez des bénéfices de l’innovation sans la complexité de la mise en œuvre.
                </p>

                <h2>Des bénéfices tangibles pour votre quotidien</h2>

                <ul>
                    <li>
                        <strong>Gagner du temps :</strong> En automatisant les tâches répétitives, en organisant et simplifiant l’analyse des données (même les signaux faibles) ou en optimisant vos processus, nous vous aidons à concentrer vos ressources sur ce qui compte vraiment : l’innovation et la valeur ajoutée.
                    </li>
                    <li>
                        <strong>Améliorer la prise de décision :</strong> Grâce à des insights issus de vos données pleinement exploités, vous pouvez anticiper les tendances, identifier des opportunités et réduire les incertitudes.
                    </li>
                    <li>
                        <strong>Mettre en lumière vos métiers et projets :</strong> faire briller vos expertises en augmentant l’impact de vos actions et en illustrant concrètement les résultats obtenus. Cela permet ainsi de mettre en lumière les équipes et le sens de chaque mission, de chaque projet.
                    </li>
                    <li>
                        <strong>Favoriser la transmission :</strong> nous œuvrons à vous rendre autonomes dans cette démarche et ainsi à pouvoir pleinement partager vos savoirs pour ne pas les perdre et les faire grandir.
                    </li>
                </ul>

                <h2>Autonomie et montée en puissance</h2>

                <p>
                    Nous croyons fermement que la technologie doit <strong>renforcer votre indépendance</strong>, pas créer de nouvelles dépendances. Nos solutions sont pensées pour être intuitives et accessibles, permettant à vos équipes de les adopter et les maîtriser rapidement.
                </p>

                <h2>Au service de vos ambitions</h2>

                <p>
                    En innovant via l’IA et la data, nous ne nous contentons pas de répondre à vos besoins immédiats. Nous vous accompagnons dans une vision stratégique à long terme pour que ces technologies deviennent de véritables soutiens dans la valorisation de vos projets, des innovations, l’épanouissement de vos équipes et la croissance de votre entreprise.
                    Vous pouvez ainsi transformer votre quotidien et <strong>révéler tout le potentiel de votre organisation</strong> !
                </p>
            </div>

            {% include 'partials/amabla-brief-incentive.html.twig' %}

            <h2 class="h2--dash">
                C'est quoi <a href="{{ amabla.url }}" target="_blank" title="{{ amabla.seoTitle }}">Amabla</a> ?
            </h2>
            <div class="illustrated-section" data-aos="fade-left">
                <div class="illustrated-section__content">
                    <p>Né de l'envie d'intégrer l'IA dans notre quotidien, ce projet s'est rapidement imposé comme une réponse à un besoin plus large : proposer des <strong>assistants personalisés capables d'interagir avec les nombreux modèles d'IA présents et à venir.</strong></p>
                    <p>Depuis plusieurs mois, les équipes d'Elao travaillent sur ce projet avec une idée en tête : permettre à nos clients d'exploiter toute puissance de l'IA dans un <strong>contexte défini pour répondre à des besoins métiers spéficiques</strong>.</p>
                    <p>Aujourd'hui nous vous proposons, à travers une interface de génération de brief, de tester une première application de cet outil. <strong>Mais ce n'est qu'un usage parmi d'autres, et la liste des possibles est infini : </strong> que cela soit pour vous aider à générer du contenu, à concevoir vos argumentaires commerciaux, à réaliser vos rapports journaliers, à synthétiser vos documents, etc.</p>
                    <a
                        href="{{ amabla.url }}"
                        title="{{ amabla.seoTitle }}"
                        target="_blank"
                        class="btn btn--secondary btn--animated"
                        data-aos="fade-left"
                    >
                        <span>
                            Découvrir Amabla
                            {% include 'partials/svg-arrow.html.twig' %}
                        </span>
                    </a>
                </div>
                <div class="illustrated-section__image">
                    <img src="{{ asset('build/images/pages/services/ia/amabla-screenshot.jpg') }}" alt="exemple d'écran d'amabla">
                    <i class="icon icon--chevrons-right" aria-hidden="true"></i>
                </div>
            </div>

            <aside class="bricks">
                <div class="brick-conception" data-aos="zoom-in-down">
                    <p>Intéressé·e ?</p>
                    <h3 class="title">Vous avez un besoin particulier et souhaitez nous en faire part ?</h3>
                    <p>Vous souhaitez utiliser nos assistants pour vous faire gagner du temps sur la génération de contenu, sur vos tâches quotidiennes quelles qu'elles soient ?</p>
                    <a href="{{ path('contact') }}" class="btn btn--secondary btn--animated" data-aos="fade-left">
                        <span>
                            Échangeons
                            {% include 'partials/svg-arrow.html.twig' %}
                        </span>
                    </a>
                </div>
            </aside>
        </div>
    </div>
{% endblock %}
