{% extends 'base.html.twig' %}

{% block meta_title %}{{ caseStudy.metaTitle|default(caseStudy.title) }} | {{ parent() }}{% endblock %}
{% block meta_description %}{{ caseStudy.metaDescription|default(caseStudy.description)|default(parent()) }}{% endblock %}

{% block content %}
    <div class="page-project">
        <ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
            <li class="breadcrumb__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                <a itemprop="item" href="{{ path('homepage') }}">
                    <span itemprop="name">Accueil</span>
                </a>
                <meta itemprop="position" content="1" />
            </li>
            <li class="breadcrumb__item"  itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                <a itemprop="item" href="{{ path('case_studies') }}">
                    <span itemprop="name">Nos études de cas</span>
                </a>
                <meta itemprop="position" content="2" />
            </li>
            <li class="breadcrumb__item"  itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                <a itemprop="item" href="#">
                    <span itemprop="name">{{ caseStudy.title }}</span>
                </a>
                <meta itemprop="position" content="3" />
            </li>
        </ol>

        <div class="banner">
            <h1 class="banner__title">Découvrez <span>{{ caseStudy.title }}</span></h1>

            <div class="banner__content">
                <div class="highlight">
                    <!--
                        Description brève du projet ou du client
                        Recommandé : 50 à 150 caractères
                    -->
                    <p>{{ caseStudy.description }}</p>
                    <i class="icon icon--semicolon" aria-hidden="true"></i>
                </div>

                <!--
                    3 images de preview maximum dont :
                        - 1 image principale obligatoire
                            - dans <div class="preview__main">
                            - dimensions 630x380px
                        - 2 images facultatives (mais préférables !)
                            - dans <div class="preview__list">
                            - dimensions 240x160px
                -->
                <div class="preview">
                    <div class="preview__main">
                        <img src="{{ asset(caseStudy.images|first) }}">
                    </div>
                    <div class="preview__list">
                        <ul>
                            {% for image in caseStudy.images|slice(1, 2) %}
                                <li>
                                    <img src="{{ asset(image) }}">
                                </li>
                            {% endfor %}
                        </ul>
                        <!-- Si aucun lien vers le site possible, ajouter .hidden au bouton pour le cacher et ne pas casser le layout -->
                        <a href="{{ caseStudy.caseUrl }}" class="btn btn--secondary btn--animated">
                            <span>
                                Voir le site
                                <svg class="icon" xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="0 0 40 20">
                                    <path class="tip" d="M21,2.7 28.2,10.3 21,17.4"/>
                                    <path class="base" d="M28.2,10.3c-0.1,0-18.3,0-27.8,0"/>
                                </svg>
                            </span>
                        </a>
                    </div>
                </div>

            </div>
        </div>

        <div class="page-project__detail">
            <ul>
                <li class="item">
                    <small>Clients</small>
                    <p>{{ caseStudy.clients }}</p>
                </li>
                <li class="item">
                    <small>Utilisateurs</small>
                    <p>{{ caseStudy.users }}</p>
                </li>
                <li class="item">
                    <small>Taille du projet</small>
                    <p>{{ caseStudy.size }}</p>
                </li>
            </ul>
            <ul>
                <li class="item item--medium">
                    <small>Services</small>
                    {% for service in caseStudy.services %}
                        <p>{{ service }}</p>
                    {% endfor %}
                </li>
                <li class="item item--large">
                    <small>Technologies</small>
                    <ul class="technologies technologies--light">
                        {% for technologySlug in caseStudy.technologies %}
                            {% set technology = content_get('App\\Model\\Technology', technologySlug) %}
                            <li>
{#                                <a href="{{ path('technology', { technology: technology.slug }) }}" class="technologies__item">#}
                                {# TODO: wire back technos once ready #}
                                <div class="technologies__item">
                                    {% if technology.logo|default(false) %}
                                        <img src="{{ asset(technology.logo) }}" alt="logo {{ technology.name }}">
                                    {% endif %}
                                    {{ technology.name }}
                                </div>
{#                                </a>#}
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>

        <div class="page-project__content">
            {{ caseStudy.content|raw }}

            <h2 class="h2--dash">La tribu</h2>
            <p>Voici les personnes de l'équipe qui ont contribué au projet.</p>
            <ul class="project-team">
                {% for memberSlug in caseStudy.members %}
                    {% set member = content_get('App\\Model\\Member', memberSlug) %}
                    <li class="project-team__member">
                        <a href="{{ path('team_member', { member: member.slug }) }}">
                            <img src="{{ asset(member.avatar ?? 'images/authors/default.png') }}" alt="{{ member.name }}">
                            <span class="name">{{ member.name }}</span>
                            <span class="job">{{ member.shortBio }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>

            <h2 class="h2--dash">D'autres études de cas</h2>
            <ul class="article-list">
                {% with %}
                    {% for caseStudy in randomStudies %}
                    <li class="miniature miniature--large">
                        <a href="{{ path('case_study', { caseStudy: caseStudy.slug }) }}" class="miniature__image">
                            <span class="image" style="background: url('https://www.fillmurray.com/460/300')"></span>
                        </a>
                        <div class="miniature__content">
                            <span class="info">{{ caseStudy.clients }}</span>
                            <a href="{{ path('case_study', { caseStudy: caseStudy.slug }) }}" class="title">{{ caseStudy.title }}</a>
                            <p class="description">{{ caseStudy.description }}</p>
                            <a href="{{ path('case_study', { caseStudy: caseStudy.slug }) }}" class="btn btn--secondary btn--animated">
                                <span>
                                    Voir l'étude de cas
                                    <svg class="icon" xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="0 0 40 20">
                                        <path class="tip" d="M21,2.7 28.2,10.3 21,17.4"/>
                                        <path class="base" d="M28.2,10.3c-0.1,0-18.3,0-27.8,0"/>
                                    </svg>
                                </span>
                            </a>
                        </div>
                    </li>
                    {% endfor %}
                {% endwith %}
            </ul>
        </div>

        <a href="" class="page-projet__footer">
            <span>Open source</span>
            <span class="title">Contributions</span>
            <i class="icon icon--bracket-left" aria-hidden="true"></i>
            <i class="icon icon--chevrons-right" aria-hidden="true"></i>
        </a>
    </div>
{% endblock content %}
